/* ============================================================= */
/* Global styles                                                 */
/* ============================================================= */
*
{
	background-color: @WindowBackgroundColor;
	color:  @TextColor;
}

QCheckBox:disabled
{
	color: @CheckBoxDisabledColor;
}

QMainWindow, QDialog
{
	color: @TextColor;
	background-color: @WindowBackgroundColor;
}

QDockWidget
{
	color: @DockWidgetTextColor;
	background-color: @WindowBackgroundColor;
}

QDockWidget::title {
    text-align: left;
    background: @DockWindowTitleBarColor;
    padding-left: 5px;
}

QLabel
{
	color: @TextColor;
	background-color: @WindowBackgroundColor;
}

QTreeView
{
	color: @TextColor;
	background: @PanelBackgroundColor;
}

QLineEdit, QTextEdit, QComboBox
{
	color: @TextColor;
	border: 1px solid @PanelBackgroundColor;
	background: @PanelBackgroundColor;
}

QLineEdit#m_viewportSearch
{
	background: @ViewportTitleSearchBackgroundUrl;
	border: 0px;
	color: "black";
	max-width: 107px;
	max-height: 21px;
	min-width: 107px;
	min-height: 21px;
	padding-left: 20px;
	padding-right: 20px;
}

QPushButton
{
	color: @TextColor;
	background-color: @WindowBackgroundColor;
}

QPushButton:disabled
{
	color: @PushButtonDisabledColor;
}

QToolButton
{
	color: @TextColor;
	background-color: @WindowBackgroundColor;
	border: 1px solid "transparent";
}

QToolButton[popupMode="1"]
{
	padding-right:20px;
}

QToolButton:hover
{
	background-color: @ToolButtonHoverBackgroundColor;
	border: 1px solid @ToolButtonPressedBorderColor;
}

QToolButton:pressed
{
	background-color: @ToolButtonPressedBackgroundColor;
	border: 1px solid @ToolButtonPressedBorderColor;
}

QToolButton:checked
{
	background-color: @ToolButtonCheckedBackgroundColor;
	border: 1px solid @ToolButtonPressedBorderColor;
}

QToolBar
{
	background: @WindowBackgroundColor;
}

QMenuBar
{
	color: @TextColor;
	background: @WindowBackgroundColor;
}

QMenu
{
	color: @TextColor; 
	border: 1px solid @ScrollbarHandleBorderColor;
}

QMenu::item 
{
	color: @MenuEnabledTextColor;
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent;
}

QMenu::item:selected 
{
	border: 1px solid @MenuItemSelectedColor;
}

QMenu::item:disabled
{
	color: @MenuDisabledTextColor;
	border: 1px solid transparent;
}

QToolBar::separator 
{
    background: @TextColor;
    margin-left: 3px;
    margin-right: 3px;
    width: 1px;
}

QScrollBar:vertical 
{
	border: 0px solid @ScrollbarBorderColor;
	background-color: @ScrollbarBackgroundColor;
	margin: 14px 0 14px 0;
}

QScrollBar::handle:vertical 
{
	background-color: @ScrollbarHandleBackgroundColor;
	border: 1px solid @ScrollbarHandleBorderColor;
    min-height: 20px;
    margin: 2px 2px 2px 2px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical 
{
	background-color: @ScrollbarBackgroundColor;
}

QScrollBar::add-line:vertical 
{
	border: 1px solid @ScrollbarHandleBorderColor;
	background-color: @ScrollbarBackgroundColor;
	height: 12px;
	width: 12px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;

}

QScrollBar::sub-line:vertical 
{
	border: 1px solid @MenuBorderColor;
	background-color: @ScrollbarBackgroundColor;
	height: 12px;
	width: 12px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}


QScrollBar::up-arrow:vertical
{
	border: 1px solid @MenuBorderColor;
	border-image: url(Editor/Styles/StyleSheetImages/arrow_up_V2.png) 0 0 0 0 stretch stretch;
}


QScrollBar::down-arrow:vertical 
{
	border: 1px solid @MenuBorderColor;
	border-image: url(Editor/Styles/StyleSheetImages/arrow_down_V2.png) 0 0 0 0 stretch stretch;
}


QScrollBar:horizontal 
{
	border: 0px solid black;
	background-color: @ScrollbarBackgroundColor;
	margin: 0px 14px 0px 14px;
}

QScrollBar::handle:horizontal 
{
	background-color: @ScrollbarHandleBackgroundColor;
	border: 1px solid @ScrollbarHandleBorderColor;
    min-width: 20px;
    margin: 2px 2px 2px 2px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal 
{
	background-color: @ScrollbarBackgroundColor;
}

QScrollBar::add-line:horizontal 
{
	border: 1px solid @ScrollbarHandleBorderColor;
	background-color: @ScrollbarBackgroundColor;
	height: 12px;
	width: 12px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal 
{
	border: 1px solid @ScrollbarHandleBorderColor;
	background-color: @ScrollbarBackgroundColor;
	height: 12px;
	width: 12px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal
{
	border: 1px solid @ScrollbarHandleBorderColor;
	border-image: url(Editor/Styles/StyleSheetImages/arrow_left_V2.png) 0 0 0 0 stretch stretch;
}


QScrollBar::right-arrow:horizontal 
{
	border: 1px solid @ScrollbarHandleBorderColor;
	border-image: url(Editor/Styles/StyleSheetImages/arrow_right_V2.png) 0 0 0 0 stretch stretch;
}

QSlider::handle:horizontal
{
	background-color: @ScrollbarHandleBackgroundColor;
	border: 1px solid @ScrollbarHandleBorderColor;
	border-radius: 2px;
	margin: -4px 0px -4px 0px;
	width: 9px;
}

QSlider:groove:horizontal
{
	border: 1px solid @ScrollbarBorderColor;
	height: 3px;
}

QSlider::add-page:horizontal 
{
    border: 1px solid @ScrollbarHandleBorderColor;
    margin: 1px;
}

QSlider::sub-page:horizontal 
{
    border: 1px solid @ScrollbarHandleBorderColor;
    margin: 1px;
}

QSlider::handle:vertical
{
	background-color: @ScrollbarHandleBackgroundColor;
	border: 1px solid @ScrollbarHandleBorderColor;
	border-radius: 2px;
	margin: 0px -4px 0px -4px;
	height: 9px;
}


QSlider:groove:vertical
{
	border: 1px solid @ScrollbarBorderColor;
	width: 3px;
}

QSlider::add-page:vertical 
{
    border: 1px solid @ScrollbarHandleBorderColor;
    margin: 1px;
}

QSlider::sub-page:vertical 
{
    border: 1px solid @ScrollbarHandleBorderColor;
    margin: 1px;
}


QHeaderView::section 
{
    background-color: @WindowBackgroundColor;
    color: @TextColor;
}



QGroupBox::title 
{
    color: @TextColor;
	font-weight:bold;
	font-size: 16pt;
}


WelcomeScreenDialog QLabel#header 
{
	font: 36px;
	padding-right: 14px;
 	background-color: @PanelBackgroundColor;
}

WelcomeScreenDialog QListView::item::hover
{
	color: @MenuItemSelectedColor;
}

StatusBarItem
{
	background-color: @PanelBackgroundColor;
	border: 1px solid @ScrollbarBackgroundColor;
}

StatusBarItem[clickable="true"]
{
	border: 1px solid @ScrollbarHandleBackgroundColor;
}

StatusBarItem[clickable="true"]:hover
{
	border: 1px solid @ToolButtonHoverBorderColor;
	background-color: @ToolButtonHoverBackgroundColor
}

/* ============================================================= */
/* Styles applied through programmatically-set QT properties      */
/* ============================================================= */

/* Style for pulse highlight widgets (outliner highlight, etc) */
AzToolsFramework--OutlinerView QWidget[PulseHighlight="true"]
{
    background-color: @MenuItemSelectedColor;
}

/* Style for highlighting valid drag-drops (entity references, etc) */
AzToolsFramework--PropertyEntityIdCtrl AzToolsFramework--EntityIdQLabel[DropHighlight="true"]
{
    background-color: @MenuItemSelectedColor;
}
AzToolsFramework--PropertyAssetCtrl QLabel[DropHighlight="true"]
{
    background-color: @MenuItemSelectedColor;
}

/* Style for visualizing property values overridden from their prefab values */
AzToolsFramework--PropertyRowWidget[IsOverridden="true"] QLabel
{
    font-weight: bold;
    color: @MenuItemSelectedColor;
}

/* Style for properties that fail validation */
AzToolsFramework--PropertyEntityIdCtrl[MismatchedServices="true"] AzToolsFramework--EntityIdQLabel
{
    font-weight: bold;
    color: red;
}

/**
 * HeaderBar is a QFrame with a QHBoxLayout that contains the following children:
 * #Expander: a QCheckBox used as a "tree expander".
 * #Icon: a QLabel displaying an icon. The icon is set from c++.
 * #Title: a QLabel displaying text.
 * #ContextMenu: a QPushButton used to launch a context menu.
 */
AzToolsFramework--HeaderBar
{
    border: 1px solid @ScrollbarHandleBorderColor;
}

AzToolsFramework--HeaderBar>#Title
{
    font-weight: bold;
}

AzToolsFramework--HeaderBar>#Expander::indicator:checked
{
    image: url(:/PropertyEditor/Resources/group_open.png);
}

AzToolsFramework--HeaderBar>#Expander::indicator:unchecked
{
    image: url(:/PropertyEditor/Resources/group_closed.png);
}

AzToolsFramework--HeaderBar>#ContextMenu
{
    qproperty-icon: url(:/Icons/Error.png);
    qproperty-flat: true;
}

/**
 * ComponentEditor is a QFrame with a QVBoxLayout and the following children:
 * #Header: a HeaderBar.
 * #PropertyEditor: a ReflectedPropertyEditor.
 */
AzToolsFramework--ComponentEditor
{
    border: 1px solid @ScrollbarHandleBorderColor;
}
/* Style for transform properties */
AzToolsFramework--ReflectedPropertyEditor QLabel#X
{
    font-weight: bold;
    color: rgb(184,51,51);
}
AzToolsFramework--ReflectedPropertyEditor QLabel#Y
{
    font-weight: bold;
    color: rgb(48,208,120);
}
AzToolsFramework--ReflectedPropertyEditor QLabel#Z
{
    font-weight: bold;
    color: rgb(66,133,244);
}

/* Style for slice push UI */
AzToolsFramework--SlicePushWidget QLabel[Title="true"]
{
    font-weight: bold;
}

AzToolsFramework--SlicePushWidget QRadioButton
{
    background-color: @PanelBackgroundColor;
    color: @MenuItemSelectedColor;
}

MessageDetailWidget
{
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
}

MessageDetailWidget QLabel
{
    background-color: #F7F7F7;
    color: #6C6C6C;
    font-size: 10px;
}

PopupDialogWidget #MarginFrame
{
    margin: 12px 14px 12px 14px;
}

PopupDialogWidget #DialogButton
{
    padding: 6px 9px 6px 9px;
    margin-top: 12px;
}

QLabel[class='Error'] {color: @ResourceProgressError; }
QLabel[class='Working'] {color: @ResourceProgressWorking; }

QPushButton[class='Link'] { color: @LinkColor; }

#ResourceManagement QLabel
{
    /* 
        This sets the indent Q_PROPERTY on QLabel to 0. The default value is -1,
        which triggers some computation based on the font size. But that only 
        happens under some cicumstances, such as when using a stylesheet to set
        margins or padding on the QLabel. Adding such styling suddenly causes
        the indent to be applied, causing th left alignment of the text to break.
    */
    qproperty-indent: 0
}

#ResourceManagement #TreeTitle
{
    font-size:12px; 
    font-weight:bold;
}

#ResourceManagement #ButtonBar {
    margin-top: 6px;
}

#ResourceManagement #ButtonBar QPushButton {
    padding: 6px 9px 6px 9px;
    margin-right: 6px;
}

#ResourceManagement #Message, #ResourceManagement *[class='Message'] {
    color: @LabelTextColor;
    font-size: 12px;
    margin-top: 6;
}

#ResourceManagement #Title {
    font-size: 14px;
    font-weight: bold;
}

#ResourceManagement #Refreshing {
    color: @TextWarningColor;
}

#ResourceManagement #LinkButton, #ResourceManagement *[class='Link'] {
    border: none;
    color: @LinkColor;
    margin-top: 6px;
    font-weight: bold;
}

#ResourceManagement QHeaderView::section {
    color: @LabelTextColor;
    font-weight: bold;
    border: none;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
}

#ResourceManagement #Table {
    qproperty-showGrid: false;
    border: none;
}

#ResourceManagement #Table::item {
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#ResourceManagement QTextEdit
{
	background: @DarkPanelBackgroundColor;
}

#ResourceManagement #TextContentHelp
{
    margin: 0px;
    padding: 12px;
    border-style: outset;
    border-width: 1px;
    border-color: @PanelBackgroundColor;
}

#ResourceManagement #TextContentEdit
{
}

#ResourceManagement #TextContentFooter
{
    padding: 6px 12px 6px 12px;
    border-style: outset;
    border-width: 1px;
    border-color: @PanelBackgroundColor;
}

#ResourceManagement #TextContentFooter QLabel
{
    min-width: 48px;
    max-width: 48px;
    margin-right: 12px;
    color: @LabelTextColor;
}

#ResourceManagement #TextContentFooter QPushButton
{
    padding: 6px 9px 6px 9px;
    margin-left: 6px;
}


#ResourceManagement #Action {
    padding: 12px;
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Action #ButtonBar {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Action #Heading {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Heading #RefreshButton {
    margin-left: 12px;
    padding: 3px;
}

#ResourceManagement #Action #Heading #Title {
    border: 0px solid @DarkPanelBackgroundColor;
}

#ResourceManagement #Action #Heading #Message {
    border: 0px solid @DarkPanelBackgroundColor;
}

#ResourceManagement #Action #LearnMore {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Action #LearnMore #Title {
    font-size: 12px;
    margin-top: 24px;
    font-weight:bold;
}

#ResourceManagement #Action #LearnMore #LinkButton {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Action #Title, #ResourceManagement #Action #Message {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Top {
    padding: 12px; 
    border-style: outset;
    border-width: 1px;
    border-color: @PanelBackgroundColor;
}

#ResourceManagement #Bottom {
    background-color: @DarkPanelBackgroundColor;
    padding: 12px; 
}

#ResourceManagement #Bottom #Title {
    background-color: @DarkPanelBackgroundColor;
    font-size: 12px;
    font-weight: bold;
}

#ResourceManagement #Bottom #Message {
    background-color: @DarkPanelBackgroundColor;
    margin-bottom: 6px;
}

#ResourceManagement #Bottom #Table {
    background-color: @DarkPanelBackgroundColor;
    qproperty-alternatingRowColors: true;
}

#ResourceManagement #Bottom #Table QHeaderView {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Bottom #Table QHeaderView::section {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Bottom #Table::item {
    background-color: @WindowBackgroundColor;
}

#ResourceManagement #Bottom #Table::item:alternate {
    background-color: @PanelBackgroundColor;
}

#ResourceManagement #Bottom #Resources {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Bottom #Refreshing {
    background-color: @DarkPanelBackgroundColor;
}

#ResourceManagement #Stack #Heading #Message
{
    margin-top: 0;
}

#ResourceManagement #Stack #Status #Title
{
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
}

#ResourceManagement #StackEvents #TitleBar {	
    color: @TextColor;
	background-color: @WindowBackgroundColor;
    border-style: outset;
    border-width: 1px;
    border-color: @PanelBackgroundColor;
}

#ResourceManagement #StackEvents #TitleBar * {
    font-size:12px; 
} 

#ResourceManagement #StackEvents #TitleBar #Title {
    font-weight:bold;
    margin-right: 12px;
} 

#ResourceManagement #StackEvents #TitleBar #InProgress #Text {
    color: @TextWarningColor;
}

#ResourceManagement #StackEvents #TitleBar #Succeeded {
    color: @TextPositiveColor;
}

#ResourceManagement #StackEvents #TitleBar #Failed {
    color: @TextErrorColor;
}

#ResourceManagement #StackEvents #Content {	
    border-style: inset;
    border-width: 1px;
    border-color: @PanelBackgroundColor;
    padding: 12px;
}

#ResourceManagement #StackEvents #Table {
    qproperty-alternatingRowColors: true;
    qproperty-showGrid: false;
}

#ResourceManagement #StackEvents QTableView::item {
    background-color: @PanelBackgroundColor;
}

#ResourceManagement #StackEvents QTableView::item:focus {
    selection-color: @MenuEnabledTextColor;
    selection-background-color: @ToolButtonPressedBackgroundColor;
}

#ResourceManagement #StackEvents QTableView::item:alternate {
    background-color: @WindowBackgroundColor;
}

#ResourceManagement #CreateDeployment #LearnMore
{
    margin-bottom: 12px;
}

#ResourceManagement #CreateDeployment #WarningMessage
{
    margin-top: 12px;
    margin-bottom: 12px;
}

#ResourceManagement #LoadingError, #ResourceManagement #LoadingError #Title, #ResourceManagement #LoadingError #Message, #ResourceManagement #LoadingError #ErrorText
{
    background: @DarkPanelBackgroundColor;
}

#ResourceManagement #LoadingError #ErrorText
{
    padding: 12px;
    color: @TextErrorColor;
}

#ResourceManagement #Loading, #ResourceManagement #Loading #Title, #ResourceManagement #Loading #Message
{
    background: @DarkPanelBackgroundColor;
}

#ResourceManagement #Loading, #ResourceManagement #LoadingError
{
    padding: 12px;
}

#ResourceManagement #MainToolbar
{
    padding: 6px;
    border-style: inset;
    border-width: 1px;
    border-color: @PanelBackgroundColor;
}

#ResourceManagement #MainToolbar QPushButton
{
    border: none;
    padding: 0px;
}

#ResourceManagement #MainToolbar #AddNewButton
{
    margin-left: 12px;
    margin-right: 12px;
}

#ResourceManagement #ResourceImporter #RegionBox:disabled
{
    color: #666666;
}

#ResourceManagement #ResourceImporter #ListTable
{
    qproperty-alternatingRowColors: true;
    qproperty-showGrid: false;
    border: none;
}

#ResourceManagement #ResourceImporter #ListTable::item
{
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #333436;
}

#ResourceManagement #ResourceImporter #ListTable::item:alternate
{
    background-color: @PanelBackgroundColor;
}

#ResourceManagement #ResourceImporter #SelectionTable
{
    qproperty-showGrid: true;
    border: none;
    gridline-color: @WindowBackgroundColor;
}

#ResourceManagement #ResourceImporter #SelectionTable::item
{
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#ResourceManagement #ResourceImporter #LoadingLabel
{
    color : @TextWarningColor;
}

#ResourceManagement #MainToolbar #SaveButton
{
    margin-left: 12px;
    margin-right: 6px;
}

#ResourceManagement #MainToolbar #DeleteButton
{
    margin-right: 12px;
}

#ResourceManagement #MainToolbar #AddNewButton
{
    margin-left: 12px;
    margin-right: 12px;
}

#ResourceManagement #MainToolbar #SourceControlButton
{
    margin-left: 6px;
}

#ResourceManagement #MainToolbar #CurrentProfile
{
    margin-right: 12px;
}

#ResourceManagement #MainToolbar #CurrentDeployment
{
    margin-right: 12px;
    margin-left: 12px;
}

ValidatingLineEditWidget
{
    border: 2px solid transparent;
}

Amazon--LoginDialog
{
    background-color: #F8F8F8;
}

Amazon--LoginWelcomeTitle
{
    color: #444444;
    background-color: #F8F8F8;
    font-size: 21px;
    qproperty-alignment: AlignCenter;
    font-family: "Open Sans Semibold";
}

Amazon--LoginWelcomeText
{
    color: #444444;
    background-color: #F8F8F8;
    font-size: 13px;
    qproperty-alignment: AlignLeft;
    font-family: "Open Sans";
}

Amazon--LoginFooterText
{
    color: #999999;
    background-color: #F8F8F8;
    font-size: 13px;
    qproperty-alignment: AlignCenter;
    font-family: "Open Sans";
}

Amazon--LoginWebViewFrame
{
    border: 2px solid #EEEEEE;
}

Amazon--LoginWebView
{
    background-color: #F8F8F8;
}

*[inputValid="false"]
{
    color: #E25243;
    font: bold;
    border-style: solid;
    border: 2px solid #E25243;
    background-image: url(:/Icons/Error.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

/* ----------- Primary button: ---------- */

QPushButton[class='Primary']
{
    font-size: 0.875em;
    font-weight: 600;
    border: 1px solid rgb(33, 34, 35);
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

QPushButton[class='Primary']:!pressed
{
    background-color: qlineargradient(spread:pad, x1:0 y1:0, x2:0 y2:1, stop:0 rgb(243, 129, 29), stop:1 rgb(229, 113, 11));
    color: rgb(255, 255, 255);
}

QPushButton[class='Primary']:hover
{
    background-color: qlineargradient(spread:pad, x1:0 y1:0, x2:0 y2:1, stop:0 rgb(234, 135, 48), stop:1 rgb(244, 146, 61));
    color: rgb(255, 255, 255);
}

QPushButton[class='Primary']:pressed
{
    background-color: qlineargradient(spread:pad, x1:0 y1:0, x2:0 y2:1, stop:0 rgb(148, 85, 4), stop:1 rgb(111, 60, 7));
    color: rgb(255, 255, 255);
}

QPushButton[class='Primary']:disabled
{
    background-color: qlineargradient(spread:pad, x1:0 y1:0, x2:0 y2:1, stop:0 rgba(229, 113, 11, .4), stop:1 rgba(243, 129, 29, .4));
    color: rgba(255, 255, 255, .4);
}


