<div [ngSwitch]="isLoadingJiraFieldMappings">
    <div *ngSwitchCase="true">
        <loading-spinner></loading-spinner>
    </div>
    <div *ngSwitchCase="false">
        <form>
            <div *ngIf="!grouped" class="form-group row">
                <label class="col-3">
                    Report ID
                </label>
                <div class="col-6 jira-integration-settings">
                    {{defect.universal_unique_identifier.value}}
                </div>
            </div>
            <div class="form-group row valign no-gutters">
                <label class="col-3">
                    Project Key*
                </label>
                <div class="col-9">
                    <select class="form-control" [(ngModel)]="jiraFieldMappings['project']" name="projectName" (ngModelChange)="jiraFieldMappings['fields'] = []; jiraFieldMappings['issuetype']=''; getIssueTypes(jiraFieldMappings['project'])">
                        <option *ngFor="let projectKey of projectKeys" [ngValue]="projectKey">{{projectKey}}</option>
                    </select>
                </div>
            </div>            
            <div *ngIf="isLoadingIssueTypes">
                <loading-spinner></loading-spinner>
            </div>
            <div *ngIf="!isLoadingIssueTypes" class="form-group row valign no-gutters">
                <label class="col-3">
                    Issue Key*
                </label>
                <div class="col-9">
                    <select class="form-control" [(ngModel)]="jiraFieldMappings['issuetype']" name="issuetype" (ngModelChange)="jiraFieldMappings['fields'] = []; isLoadingJiraFieldMappings = true; this.getJiraFieldMappings(jiraFieldMappings['project'], this.jiraFieldMappings['issuetype']);">
                        <option *ngFor="let issue of issueTypes" [ngValue]="issue">{{issue}}</option>
                    </select>
                </div>
            </div>
            <div *ngFor="let item of jiraFieldMappings['fields']">
                <div *ngIf="item.mapping !== '' && defect[item.mapping]" class="form-group row" [class.has-danger]="!defect[item.mapping].valid && item.required">
                    <label class="col-3">
                        {{item.name}}
                        <span *ngIf="item.required">
                            *
                        </span>
                        <i *ngIf="(item.isArrayType || item.isArrayOfObjects) && isArray(defect[item.mapping].value)" class="fa fa-plus-circle add-array-item" aria-hidden="true" (click)="addNewArrayElement(defect[item.mapping], item.schema.items.type)"></i>
                    </label>
                    <div [ngSwitch]="!item.isArrayType" class="col-9 reportData">
                        <div *ngSwitchCase="true" [ngClass]="{'object-field': item.schema.properties !== undefined}">
                            <custom-field-value [uniqueId]="item.mapping" [jiraSchema]="item.schema" [possibleFields]="searchFields" [(reportValue)]="defect[item.mapping].value" (reportValueChange)="defectChange.emit(defect)"></custom-field-value>
                        </div>
                        <div *ngSwitchCase="false">
                            <div [ngSwitch]="defect[item.mapping].value !== null && isArray(defect[item.mapping].value)" class="object-field">
                                <div *ngSwitchCase="true">
                                    <div *ngFor="let arrayElement of defect[item.mapping].value let i = index">
                                        <custom-field-value [uniqueId]="item.mapping + i" [jiraSchema]="item.schema.items" [possibleFields]="searchFields" [(reportValue)]="defect[item.mapping].value[i]" (reportValueChange)="defectChange.emit(defect)"></custom-field-value>
                                        <i class="fa fa-minus-circle delete-icon" aria-hidden="true" (click)="removeArrayElement(defect[item.mapping], i)"></i>Delete {{item.name}}
                                    </div>
                                </div>
                                <div *ngSwitchCase="false">
                                    <custom-field-value [uniqueId]="item.mapping" [jiraSchema]="item.schema.items" [possibleFields]="searchFields" [(reportValue)]="defect[item.mapping].value" (reportValueChange)="defectChange.emit(defect)"></custom-field-value>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!defect[item.mapping].valid && item.required" class="form-control-feedback">{{defect[item.mapping].message}}</div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            Change the default mappings <span class="update-jira-mappings-link" (click)="updateJiraMappings.emit()">here</span>
        </div>
    </div>
</div>