<h2 class="header">Report Information</h2>
<div *ngIf="reportInformation.jira_status && reportInformation.jira_status != 'pending'" class="row">
    <label class="col-5 affix">Jira Issue</label>
    <div class="col-7 jira-issue-number" (click)="viewJiraIssue.emit()">
        <p>{{reportInformation.jira_status}}</p>
    </div>
</div>
<div *ngFor="let mapping of configurationMappings">
    <div *ngIf="mapping['category'] === 'Report Information' && reportInformation[mapping['key']]" class="row">
        <label class="col-5 affix">{{mapping['displayName']}}</label>
        <div class="col-7">
            <p>{{mapping['value']}}</p>
        </div>
    </div>
</div>
<div *ngIf="reportInformation.textAttachments.length > 0" class="row">
    <label class="col-5 affix"> Text Uploads </label>
    <ng-container *ngFor="let attachment of reportInformation.textAttachments; first as isFirst">
        <div class="col-5" *ngIf="!isFirst"></div>
        <div class="col-7">
            <label class="download-link" (click)="downloadAttachment(attachment)">{{attachment.id}}.{{attachment.extension}}</label>
        </div>
    </ng-container>
</div>
<div *ngIf="reportInformation.imageAttachments.length > 0" class="row">
    <label class="col-5 affix"> Image Uploads </label>
    <ng-container *ngFor="let attachment of reportInformation.imageAttachments; first as isFirst" >
        <div class="col-5" *ngIf="!isFirst"></div>
        <div class="col-7">
            <label class="download-link" (click)="downloadAttachment(attachment)">{{attachment.id}}.{{attachment.extension}}</label>
            <img [src]="attachment.url" alt="Report screenshot">
        </div>
    </ng-container>
</div>
<div *ngIf="reportInformation.dxdiag_attachment" class="row">
    <label class="col-5 affix">DxDiag</label>
    <div class="col-7">
        <label class="download-link" (click)="downloadAttachment(reportInformation.dxdiag_attachment)">{{reportInformation.dxdiag_attachment.id}}.{{reportInformation.dxdiag_attachment.extension}}</label>
    </div>
</div>
<div *ngIf="reportInformation.log_attachment" class="row">
    <label class="col-5 affix">Game log</label>
    <div class="col-7">
        <label class="download-link" (click)="downloadAttachment(reportInformation.log_attachment)">{{reportInformation.log_attachment.id}}.{{reportInformation.log_attachment.extension}}</label>
    </div>
</div>
<div *ngIf="reportInformation.comments" class="row">
    <label class="col-5 affix">Comments</label>
    <div class="col-7">
        <p *ngFor="let comment of reportInformation.comments let i = index">
            {{comment.user}} - {{comment.date}} <br />
            {{comment.content}}
            <i class="fa fa-cog edit" data-toggle="tooltip" data-placement="top" title="Edit comment" (click)="editComment.emit(i)" ></i>
            <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Delete comment" (click)="deleteComment.emit(i)"></i>
        </p>
    </div>
</div>