@import "../../../styles/variables";

.inline-header {
    display: inline;
}

.loading-spinner-container {
    clear: both;
    text-align: center;
}

.version-list {
    border: 0;
    outline: 0;
    background-color: transparent;
    text-align-last: right;
}

version-option {
    direction: rtl;
}

.basic-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.content-container {
	margin-bottom: 30px;
}

.settings-container {
    margin-left: 15px;
}

.slot-type-property {
    margin-top: 20px;
    cursor: pointer;
}

.slot-type-property-entry {
    width:48%;
    margin-top: 2px;
}

.form-control {
    display: inline;
}

.boxed {
    border: 1px solid $primary-color;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    margin-bottom: 10px;
    .boxed-content {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.add-button {
    margin: 0px 0px 0px 0px;
}

.slot-type-input {
    margin-bottom: 10px;
    vertical-align: baseline;
}