@import "../../../styles/variables";

.prompt-content {
    width: 80%;
    margin-top: 5px;
}

.setting {
    font-size:18px;
    margin-top: 20px;
}

.form-control {
    display: inline;
}

.add-button {
    margin: 0px 0px 0px 0px;
}

.prompt-config-input {
    margin-bottom: 10px;
    vertical-align: baseline;
}