/* ============================================================= */
/* Style specific to the outliner visibility icons               */
/* ============================================================= */

QCheckBox
{
    spacing: 5px;
}

QCheckBox::indicator
{
    width: 20px;
    height: 20px;
    border: 0px solid rgb(126, 119, 116);
    border-radius: 0px;
}

QCheckBox::indicator:checked
{
    image: url(:/Icons/Eye_Open.tif);
}

QCheckBox::indicator:unchecked
{
    image: url(:/Icons/Eye_Slash.tif);
}

QCheckBox::indicator:checked:hover
{
    image: url(:/Icons/Eye_Open_Hover.tif);
}

QCheckBox::indicator:unchecked:hover
{
    image: url(:/Icons/Eye_Slash_Hover.tif);
}

QCheckBox::indicator:checked:pressed
{
    image: url(:/Icons/Eye_Open_Hover.tif);
}

QCheckBox::indicator:unchecked:pressed
{
    image: url(:/Icons/Eye_Slash_Hover.tif);
}

QCheckBox::indicator:indeterminate:hover
{
    image: url(:/Icons/Eye_Open_Hover.tif);
}

QCheckBox::indicator:indeterminate:pressed
{
    image: url(:/Icons/Eye_Open_Hover.tif);
}
