/*
* All or portions of this file Copyright (c) Amazon.com, Inc. or its affiliates or
* its licensors.
*
* For complete copyright and license terms please see the LICENSE at the root of this
* distribution (the "License"). All use of this software is governed by the License,
* or, if provided, by the license below or the license accompanying this file. Do not
* remove or modify any license notices. This file is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*
*/

QSpinBox,
QDoubleSpinBox
{
    height: 16px;
    margin: 2px;
    /* 4px padding already applied */
    padding-left: 0px;
}

QSpinBox:focus,
QDoubleSpinBox:focus,
QSpinBox:hover,
QDoubleSpinBox:hover
{
    margin: 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

QSpinBox:hover,
QDoubleSpinBox:hover
{
    border-color: #222222;
}

QSpinBox:focus,
QDoubleSpinBox:focus
{
    border-color: #00A1C9;
    background-color: #FFFFFF;
}

QSpinBox:disabled,
QDoubleSpinBox:disabled
{
    background-color: #777777;
    color: #999999;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::down-button
{
    width: 4px;
    height: 10px;
}

QSpinBox::down-button,
QDoubleSpinBox::down-button
{
    right: 10px;
    subcontrol-position: right center;
    image: url(:/SpinBox/arrowLeftDefault.svg);
}

QSpinBox::up-button,
QDoubleSpinBox::up-button
{
    right: 4px;
    subcontrol-position: right center;
    image: url(:/SpinBox/arrowRightDefault.svg);
}

QSpinBox::up-button:pressed,
QDoubleSpinBox::up-button:pressed
{
    image: url(:/SpinBox/arrowRightIncreasing.svg)
}

QSpinBox::down-button:pressed,
QDoubleSpinBox::down-button:pressed
{
    image: url(:/SpinBox/arrowLeftIncreasing.svg)
}

QSpinBox::up-button:off,
QDoubleSpinBox::up-button:off
{
    image: url(:/SpinBox/arrowRightMaxed.svg)
}

QSpinBox::down-button:off,
QDoubleSpinBox::down-button:off
{
    image: url(:/SpinBox/arrowLeftMaxed.svg)
}