# Ignore every file.
*

# Except for all other directories & subdirectories
!**/

# In every subdirectory, avoid ignoring files with the following extensions.
!**/*.[cC][pP][pP]
!**/*.[hH]
!**/*.args
!**/*.asp
!**/*.attribute_layout
!**/*.bat
!**/*.c
!**/*.cbc
!**/*.cfg
!**/*.chrparams
!**/*.cmake
!**/*.cmd
!**/*.conf
!**/*.coffee
!**/*.cpp
!**/*.cs
!**/*.csproj
!**/*.decTest
!**/*.def
!**/*.ent
!**/*.ent_template
!**/*.env
!**/*.exportsettings
!**/*.filters
!**/*.h
!**/*.hpp
!**/*.html
!**/*.hxx
!**/*.ignore
!**/*.ini
!**/*.inl
!**/*.java
!**/*.js
!**/*.json
!**/*.lua
!**/*.lua_template
!**/*.lyr
!**/*.m
!**/*.manifest
!**/*.md
!**/*.mel
!**/*.mm
!**/*.mk
!**/*.ms
!**/*.mtl
!**/*.npmignore
!**/*.p4ignore
!**/*.plist
!**/*.prefab
!**/*.pro
!**/*.props
!**/*.py
!**/*.pyproj
!**/*.pys
!**/*.pyw
!**/*.qml
!**/*.qmldir
!**/*.qmltypes
!**/*.qrc
!**/*.qss
!**/*.rc
!**/*.sct
!**/*.sh
!**/*.slice
!**/*.sln
!**/*.spec
!**/*.sql
!**/*.targets
!**/*.tcl
!**/*.tip
!**/*.[tT][xX][tT]
!**/*.ui
!**/*.uicanvas
!**/*.vbs
!**/*.vcproj
!**/*.vcxproj
!**/*.vssscc
!**/*.waf_files
!**/*.xbm
!**/*.xml
!**/ChangeLog
!**/configure
!**/DEVEL
!**/lmbr_waf
!**/[mM]akefile
!**/makefile.appletv
!**/wscript
!**/README
!**/TODO
!**/waf

# Make an exception to ignore specific directories
# Most of these directories are brought in by executing git_bootstrap.
/3rdParty
/dev/Bin64
/dev/Bin64vc120
/dev/Bin64vc140
/dev/FeatureTests
/dev/SamplesProject
/dev/MultiplayerSample
/dev/MultiplayerProject
/dev/StarterGame
/dev/Gems/GameEffectSystem
/dev/Gems/Oculus
/dev/Gems/OpenVR
/dev/Gems/PBSreferenceMaterials
/dev/Gems/Substance
/dev/Gems/StarterGameGem
/SetupAssistant.bat

# Ignore temp and build directories
/dev/AssetProcessorTemp
/dev/BinTemp
/dev/Cache
/dev/SessionStatus
/dev/Solutions

# Ignore SDK directories
/dev/Code/SDKs
/dev/Code/Sandbox/SDKs
/dev/Code/Tools/SDKs

# Ignore log and user setting files
/dev/Editor/editoreventlog.xml
/dev/Editor/editorlayout.xml
/dev/SetupAssistantUserPreferences.ini
/dev/Tools/LmbrSetup/Win/UserSettings.xml
