# Ignore every file.
*

# Except for all other directories & subdirectories
!**/

# In every subdirectory, avoid ignoring files with the following extensions.
!**/*.[cC][pP][pP]
!**/*.[hH]
!**/*.args
!**/*.asp
!**/*.attribute_layout
!**/*.bat
!**/*.c
!**/*.cbc
!**/*.cfg
!**/*.chrparams
!**/*.cmake
!**/*.cmd
!**/*.conf
!**/*.coffee
!**/*.cpp
!**/*.cs
!**/*.csproj
!**/*.decTest
!**/*.def
!**/*.ent
!**/*.ent_template
!**/*.env
!**/*.exportsettings
!**/*.filters
!**/*.h
!**/*.hpp
!**/*.html
!**/*.hxx
!**/*.ico
!**/*.ignore
!**/*.ini
!**/*.inl
!**/*.java
!**/*.js
!**/*.json
!**/*.lua
!**/*.lua_template
!**/*.lyr
!**/*.m
!**/*.manifest
!**/*.md
!**/*.mel
!**/*.mm
!**/*.mk
!**/*.ms
!**/*.mtl
!**/*.npmignore
!**/*.p4ignore
!**/*.plist
!**/*.prefab
!**/*.pro
!**/*.props
!**/*.py
!**/*.pyproj
!**/*.pys
!**/*.pyw
!**/*.qml
!**/*.qmldir
!**/*.qmltypes
!**/*.qrc
!**/*.qss
!**/*.rc
!**/*.sct
!**/*.sh
!**/*.slice
!**/*.sln
!**/*.spec
!**/*.sql
!**/*.targets
!**/*.tcl
!**/*.tip
!**/*.[tT][xX][tT]
!**/*.ui
!**/*.uicanvas
!**/*.vbs
!**/*.vcproj
!**/*.vcxproj
!**/*.vssscc
!**/*.waf_files
!**/*.xbm
!**/*.xml
!**/ChangeLog
!**/configure
!**/DEVEL
!**/lmbr_waf
!**/[mM]akefile
!**/makefile.appletv
!**/wscript
!**/README
!**/TODO
!**/waf

# Make an exception to ignore specific directories
# Most of these directories are brought in by executing git_bootstrap.
/3rdParty
/dev/AssetProcessorTemp
/dev/BinTemp
/dev/Bin64
/dev/Bin64vc141
/dev/Bin64vc141.Debug
/dev/Cache
/dev/SamplesProject
/dev/Code/SDKs
/dev/Code/Sandbox/SDKs
/dev/Solutions
/dev/Code/Tools/SDKs
/dev/MultiplayerSample
/dev/MultiplayerProject
/dev/Gems/GameEffectSystem
/dev/Gems/Oculus
/dev/Gems/OpenVR
/dev/Gems/PBSreferenceMaterials
/dev/Gems/Substance
/dev/Tools/CrySCompileServer/x64
/dev/Tools/LmbrSetup/Win.vc141.Debug

# Ignore ico files from Lumberyard folders but preserve ico files in project folders
/dev/Code/**/*.ico
/dev/CloudGemSamples/**/*.ico
/dev/Tools/**/*.ico

# Misc ignore files
/dev/SetupAssistantUserPreferences.ini
/dev/_WAF_/environment.json
/SetupAssistant.bat
