<div class="cgp-container cgp-login-container">
    <h1> Welcome to your project {{this.aws.context.name}} Cloud Gem Portal </h1>
    <h2> Adding cloud-connected features to your game using the AWS cloud </h2>

    <modal *ngIf="isMissingBootstrap"
           [autoOpen]="true"
           closeButtonText="Got it!"
           [onClose]="dismissMissingBootstrap"
           [onDismiss]="dismissMissingBootstrap"
           title="Missing Cloud Gem Portal bootstrap information.">
        <div class="modal-body">
            <p>It seems that either the ./index.html is missing or the 'boostrap' variable in the file is empty.</p>

            <h2>Development for the Cloud Gem Portal</h2>
            <p>If you are developing for the Cloud Gem Portal then this is expected.  You will need to copy the project bootstrap information to the ./index.html file.</p>
            <pre>&lt;LumberyardInstallPath&gt; lmbr_aws cloud-gem-framework cloud-gem-portal --show-configuration --show-url-only</pre>
            <p>Copy the line of the output that looks like this</p>
            <pre>{{'{'}}"userPoolId": XX, "firstTimeUse": XX, "region": XX, "clientId": XX, "identityPoolId": XX, "projectConfigBucketId": XX{{'}'}}</pre>
            <p>to the</p>
            <pre>&lt;LumberyardInstallPath&gt;/Gems/CloudGemFramework/v1/Website/CloudGemPortal/index.html file</pre>
            <p>For more information on the topic refer to the link <a herf="http://docs.aws.amazon.com/lumberyard/latest/developerguide/cloud-canvas-cgf-cgp-dev-gs.html" target="_blank">Cloud Gem Portal Development</a></p>

            <h2>Are you just running the Cloud Gem Portal?</h2>
            <p>Unfortunately this an unexpected behaviour.</p>
            <p>Please head over to our <a href="https://gamedev.amazon.com/forums/spaces/133/cloud-canvas.html">forums</a> and post a question regarding the issue.</p>
        </div>
    </modal>


    <modal *ngIf="isFirstTimeModal"
           [autoOpen]="true"
           closeButtonText="Got it!"
           [onClose]="dismissFirstTimeModal"
           [onDismiss]="dismissFirstTimeModal"
           title="First time Cloud Gem Portal user">
        <div class="modal-body">

            <p>As this is your <b>first time</b> using the Cloud Gem Portal we will guide you through the initial login.</p>

            <p>In order to log into the Cloud Gem Portal for the first time you will need to write down the administrator username and password that was generated for you in Lumberyard.</p>

            <div class="row justify-content-center margin-top-space-sm">
                <div class="col-12 text-center">The username and password could have been displayed two different ways.</div>
            </div>
            <div class="row justify-content-center margin-top-space-sm">
                <div class="col-6 text-center">
                    <p>Option 1, the <b>Lumberyard Editor</b></p>
                    <a id="welcome-option1-img" target="_blank" href="https://m.media-amazon.com/images/G/01/cloudcanvas/images/first-time-login-editor.png"><img src="https://m.media-amazon.com/images/G/01/cloudcanvas/images/first-time-login-editor.png" /></a>
                </div>
                <div class="col-6 text-center">
                    <p>Option 2, the <b>Lumberyard CLI</b></p>
                    <a id="welcome-option2-img" target="_blank" href="https://m.media-amazon.com/images/G/01/cloudcanvas/images/first-time-login-cli.png"><img src="https://m.media-amazon.com/images/G/01/cloudcanvas/images/first-time-login-cli.png" /></a>
                </div>
            </div>
            <div class="margin-top-space-lg">
                <p>If you can't find the username and password in option 1 or option 2 then most likely the account was created previously. You can delete the administrator account using the <a href="https://console.aws.amazon.com/cognito/users/?region={{aws.context.region}}">AWS console</a>.</p>
                <p>Once deleted, opening the Cloud Gem Portal <b>from Lumberyard</b> will display the account information in the Lumberyard Editor (option 1 above).</p>
            </div>
        </div>
    </modal>
    <loading-spinner size="lg" *ngIf="loading || state == authstates.LOGGED_IN || state  == authstates.USER_CREDENTIAL_UPDATED"></loading-spinner>

    <login-container *ngIf="!isFirstTimeLogin && !loading && (state === undefined
                || state == loginstates.LOGIN
                || state == authstates.LOGIN_FAILURE
                || state == authstates.FORGOT_PASSWORD_SUCCESS
                || state == authstates.USER_CREDENTIAL_UPDATE_FAILED
                || state == authstates.LOGGED_OUT
                || state == authstates.FORGOT_PASSWORD_CONFIRMATION_SUCCESS)
                "
                     heading="Sign In to the Cloud Gem Portal"
                     submitButtonText="Sign In"
                     secondaryLinkText="Forgot password?"
                     tertiaryLinkText="Enter Code?"
                     [isButtonDisabled]="userLoginForm.controls['username'].pristine || userLoginForm.controls['password'].pristine"
                     (secondaryLinkClick)="error = null; change(loginstates.FORGOT_PASSWORD)"
                     (tertiaryLinkClick)="error = null; change(loginstates.ENTER_CODE)"
                     (formSubmitted)="login(userLoginForm.value)">
        <form [formGroup]="userLoginForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userLoginForm, 'username')}">
                <label for="username"> Username </label>
                <input class="form-control" id="username" type="text" [formControl]="userLoginForm.controls['username']"
                       [ngClass]="{'form-control-danger': isNotValid(userLoginForm, 'username')}" />
                <div *ngIf="isRequiredEmpty(userLoginForm, 'username')" class="form-control-feedback">You must include a username.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger':isNotValid(userLoginForm, 'password')}">
                <label for="password"> Password </label>
                <input class="form-control" id="password" type="password" [formControl]="userLoginForm.controls['password']"
                       [ngClass]="{'form-control-danger': isNotValid(userLoginForm, 'password')}" />
                <div *ngIf="isRequiredEmpty(userLoginForm, 'password')" class="form-control-feedback">You must include a password.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="isFirstTimeLogin && (state === undefined
                || state == loginstates.LOGIN
                || state == authstates.LOGIN_FAILURE
                || state == authstates.FORGOT_PASSWORD_SUCCESS
                || state == authstates.USER_CREDENTIAL_UPDATE_FAILED
                || state == authstates.LOGGED_OUT
                || state == authstates.FORGOT_PASSWORD_CONFIRMATION_SUCCESS)
                "
                     heading="Sign into the Cloud Gem Portal for the first time"
                     submitButtonText="Sign In"
                     [isButtonDisabled]="userLoginForm.controls['username'].pristine || userLoginForm.controls['password'].pristine"
                     (formSubmitted)="login(userLoginForm.value)">
        <form [formGroup]="userLoginForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userLoginForm, 'username')}">
                <label for="username"> Username </label>
                <input class="form-control" id="username" type="text" [formControl]="userLoginForm.controls['username']"
                       [ngClass]="{'form-control-danger': isNotValid(userLoginForm, 'username')}" />
                <div *ngIf="isRequiredEmpty(userLoginForm, 'username')" class="form-control-feedback">You must include a username.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger':isNotValid(userLoginForm, 'password')}">
                <label for="password"> Password </label>
                <input class="form-control" id="password" type="password" [formControl]="userLoginForm.controls['password']"
                       [ngClass]="{'form-control-danger': isNotValid(userLoginForm, 'password')}" />
                <div *ngIf="isRequiredEmpty(userLoginForm, 'password')" class="form-control-feedback">You must include a password.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="state == authstates.LOGIN_CONFIRMATION_NEEDED"
                     heading="User confirmation code"
                     submitButtonText="Confirm Code"
                     secondaryLinkText="Resend Code?"
                     [isButtonDisabled]="userCodeForm.controls['code'].pristine"
                     (secondaryLinkClick)="user ? resendConfirmationCode(user.username) : change(loginstates.RESEND_CODE)"
                     tertiaryLinkText="Login?"
                     (tertiaryLinkClick)="error = null; change(loginstates.LOGIN)"
                     (formSubmitted)="confirmCode(userCodeForm.value.code)">
        <form [formGroup]="userCodeForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userCodeForm, 'code')}">
                <label for="code"> Code </label>
                <input class="form-control" id="code" type="text" [formControl]="userCodeForm.controls['code']"
                       [ngClass]="{'form-control-danger': isNotValid(userCodeForm, 'code')}" />
                <div *ngIf="isRequiredEmpty(userCodeForm, 'code')" class="form-control-feedback">You must include the code provided by email.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="state == authstates.FORGOT_PASSWORD_CONFIRM_CODE || state == authstates.FORGOT_PASSWORD_CONFIRMATION_FAILURE"
                     heading="User password reset"
                     submitButtonText="Reset Password"
                     [isButtonDisabled]="passwordResetForm.controls['code'].pristine || passwordResetForm.controls['password1'].pristine || passwordResetForm.controls['password2'].pristine || isNotValid(passwordResetForm, 'password1') || isNotValid(passwordResetForm, 'password2')"
                     secondaryLinkText="Login?"
                     (secondaryLinkClick)="error = null; change(loginstates.LOGIN)"
                     (formSubmitted)="confirmNewPassword(usernameForm.value.username, passwordResetForm.value.code, passwordResetForm.value.password1)">
        <form [formGroup]="passwordResetForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(passwordResetForm, 'code')}">
                <label for="code">
                    Code <i class="fa fa-question-circle-o" placement="right"
                            ngbTooltip="A code has been sent to your email {{output && output[0] && output[0].CodeDeliveryDetails ? output[0].CodeDeliveryDetails.Destination : ''}}."></i>
                </label>
                <input class="form-control" id="code" type="text" [formControl]="passwordResetForm.controls['code']"
                       [ngClass]="{'form-control-danger': isNotValid(passwordResetForm, 'code')}" />
                <div *ngIf="isRequiredEmpty(passwordResetForm, 'code')" class="form-control-feedback">You must include the code provided by email.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(passwordResetForm, 'password1')}">
                <label for="code">
                    Password <i class="fa fa-question-circle-o" placement="right"
                                ngbTooltip="Requires a minimum of 8 characters.  Must include at least 1 number, 1 special character, 1 uppercase letter, and 1 lowercase."></i>
                </label>
                <input class="form-control" id="password" type="password" [formControl]="passwordResetForm.controls['password1']"
                       [ngClass]="{'form-control-danger': isNotValid(passwordResetForm, 'password1')}" />
                <div *ngIf="isRequiredEmpty(passwordResetForm, 'password1')" class="form-control-feedback">You must include a password.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(passwordResetForm, 'password2')}">
                <label for="code"> Re-type password </label>
                <input class="form-control" id="password-verify" type="password" [formControl]="passwordResetForm.controls['password2']"
                       [ngClass]="{'form-control-danger': isNotValid(passwordResetForm, 'password2')}" />
                <div *ngIf="isRequiredEmpty(passwordResetForm, 'password2')" class="form-control-feedback">You must re-type the password.</div>
                <div *ngIf="isNotValid(passwordResetForm, 'password2')" class="form-control-feedback">The passwords entered do not match.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="state == authstates.PASSWORD_RESET_BY_ADMIN_CONFIRM_CODE"
                     heading="The administrator has reset your password"
                     submitButtonText="Reset Password"
                     [isButtonDisabled]="passwordResetForm.controls['code'].pristine || passwordResetForm.controls['password1'].pristine || passwordResetForm.controls['password2'].pristine || isNotValid(passwordResetForm, 'password1') || isNotValid(passwordResetForm, 'password2')"
                     secondaryLinkText="Login?"
                     (secondaryLinkClick)="error = null; change(loginstates.LOGIN)"
                     (formSubmitted)="confirmNewPassword(userLoginForm.value.username, passwordResetForm.value.code, passwordResetForm.value.password1)">
        <form [formGroup]="passwordResetForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(passwordResetForm, 'code')}">
                <label for="code">
                    Code <i class="fa fa-question-circle-o" placement="right"
                            ngbTooltip="The administrator sent you a code to your email when they reset your password."></i>
                </label>
                <input class="form-control" id="code" type="text" [formControl]="passwordResetForm.controls['code']"
                       [ngClass]="{'form-control-danger': isNotValid(passwordResetForm, 'code')}" />
                <div *ngIf="isRequiredEmpty(passwordResetForm, 'code')" class="form-control-feedback">You must include the code provided by email.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(passwordResetForm, 'password1')}">
                <label for="code">
                    Password <i class="fa fa-question-circle-o" placement="right"
                                ngbTooltip="Requires a minimum of 8 characters.  Must include at least 1 number, 1 special character, 1 uppercase letter, and 1 lowercase."></i>
                </label>
                <input class="form-control" id="password" type="password" [formControl]="passwordResetForm.controls['password1']"
                       [ngClass]="{'form-control-danger': isNotValid(passwordResetForm, 'password1')}" />
                <div *ngIf="isRequiredEmpty(passwordResetForm, 'password1')" class="form-control-feedback">You must include a password.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(passwordResetForm, 'password2')}">
                <label for="code"> Re-type password </label>
                <input class="form-control" id="password-verify" type="password" [formControl]="passwordResetForm.controls['password2']"
                       [ngClass]="{'form-control-danger': isNotValid(passwordResetForm, 'password2')}" />
                <div *ngIf="isRequiredEmpty(passwordResetForm, 'password2')" class="form-control-feedback">You must re-type the password.</div>
                <div *ngIf="isNotValid(passwordResetForm, 'password2')" class="form-control-feedback">The passwords entered do not match.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="state == loginstates.ENTER_CODE"
                     heading="User password reset"
                     submitButtonText="Change Password"
                     [isButtonDisabled]="userInitiatedWithOutLoginPasswordResetForm.controls['username'].pristine
                     || userInitiatedWithOutLoginPasswordResetForm.controls['code'].pristine
                     || userInitiatedWithOutLoginPasswordResetForm.controls['password1'].pristine
                     || userInitiatedWithOutLoginPasswordResetForm.controls['password2'].pristine
                     || isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'password1')
                     || isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'password2')"
                     secondaryLinkText="Login?"
                     (secondaryLinkClick)="error = null; change(loginstates.LOGIN)"
                     (formSubmitted)="confirmNewPassword(userInitiatedWithOutLoginPasswordResetForm.value.username, userInitiatedWithOutLoginPasswordResetForm.value.code, userInitiatedWithOutLoginPasswordResetForm.value.password1)">
        <form [formGroup]="userInitiatedWithOutLoginPasswordResetForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'username')}">
                <label for="code"> Username </label>
                <input class="form-control" id="name" type="username" [formControl]="userInitiatedWithOutLoginPasswordResetForm.controls['username']"
                       [ngClass]="{'form-control-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'username')}" />
                <div *ngIf="isRequiredEmpty(userInitiatedWithOutLoginPasswordResetForm, 'username')" class="form-control-feedback">You must include a username.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'code')}">
                <label for="code"> Code </label>
                <input class="form-control" id="code" type="text" [formControl]="userInitiatedWithOutLoginPasswordResetForm.controls['code']"
                       [ngClass]="{'form-control-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'code')}" />
                <div *ngIf="isRequiredEmpty(userInitiatedWithOutLoginPasswordResetForm, 'code')" class="form-control-feedback">You must include the code provided by email.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'password1')}">
                <label for="code">
                    Password <i class="fa fa-question-circle-o" placement="right"
                                ngbTooltip="Requires a minimum of 8 characters.  Must include at least 1 number, 1 special character, 1 uppercase letter, and 1 lowercase."></i>
                </label>
                <input class="form-control" id="password" type="password" [formControl]="userInitiatedWithOutLoginPasswordResetForm.controls['password1']"
                       [ngClass]="{'form-control-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'password1')}" />
                <div *ngIf="isRequiredEmpty(userInitiatedWithOutLoginPasswordResetForm, 'password1')" class="form-control-feedback">You must include a password.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'password2')}">
                <label for="code"> Re-type password </label>
                <input class="form-control" id="password-verify" type="password" [formControl]="userInitiatedWithOutLoginPasswordResetForm.controls['password2']"
                       [ngClass]="{'form-control-danger': isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'password2')}" />
                <div *ngIf="isRequiredEmpty(userInitiatedWithOutLoginPasswordResetForm, 'password2')" class="form-control-feedback">You must re-type the password.</div>
                <div *ngIf="isNotValid(userInitiatedWithOutLoginPasswordResetForm, 'password2')" class="form-control-feedback">The passwords entered do not match.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="state == loginstates.RESEND_CODE"
                     heading="Resend user confirmation code"
                     submitButtonText="Resend Code"
                     [isButtonDisabled]="usernameForm.controls['username'].pristine"
                     secondaryLinkText="Enter Code?"
                     (secondaryLinkClick)="error = null; change(loginstates.ENTER_CODE)"
                     tertiaryLinkText="Login?"
                     (tertiaryLinkClick)="error = null; change(loginstates.LOGIN)"
                     (formSubmitted)="resendConfirmationCode(usernameForm.value.username); change(loginstates.ENTER_CODE)">
        <form [formGroup]="usernameForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(usernameForm, 'username')}">
                <label for="code"> Username </label>
                <input class="form-control" id="username" type="text" [formControl]="usernameForm.controls['username']"
                       [ngClass]="{'form-control-danger': isNotValid(usernameForm, 'username')}" />
                <div *ngIf="isRequiredEmpty(usernameForm, 'username')" class="form-control-feedback">You must include a username.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="state == loginstates.FORGOT_PASSWORD || state == authstates.FORGOT_PASSWORD_FAILURE"
                     heading="Forgotten password"
                     submitButtonText="Send Reset Code"
                     [isButtonDisabled]="usernameForm.controls['username'].pristine"
                     secondaryLinkText="Login?"
                     (secondaryLinkClick)="error = null; change(loginstates.LOGIN)"
                     (formSubmitted)="change(authstates.FORGOT_PASSWORD_CONFIRM_CODE); forgotPasswordSendCode(usernameForm.value.username)">
        <form [formGroup]="usernameForm">
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(usernameForm, 'username')}">
                <label for="code"> Username </label>
                <input class="form-control" id="username" type="text" [formControl]="usernameForm.controls['username']"
                       [ngClass]="{'form-control-danger': isNotValid(usernameForm, 'username')}" />
                <div *ngIf="isRequiredEmpty(usernameForm, 'username')" class="form-control-feedback">You must include a username.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <login-container *ngIf="state == authstates.PASSWORD_CHANGE || state == authstates.PASSWORD_CHANGE_FAILED"
                     heading="Change password"
                     submitButtonText="Save Password"
                     [isButtonDisabled]="userChangePasswordForm.controls['password1'].pristine
                     || userChangePasswordForm.controls['password2'].pristine
                     || userChangePasswordForm.controls['password1'].value !== userChangePasswordForm.controls['password2'].value
                     || isNotValid(userChangePasswordForm, 'password1')
                     || isNotValid(userChangePasswordForm, 'password2')"
                     secondaryLinkText="Login?"
                     (secondaryLinkClick)="error = null; change(loginstates.LOGIN)"
                     (formSubmitted)="change(loginstates.LOGIN); updatePassword(userChangePasswordForm.value.password1)">
        <form [formGroup]="userChangePasswordForm" >
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userChangePasswordForm, 'password1')}">
                <label for="code">
                    Password <i class="fa fa-question-circle-o" placement="right"
                                ngbTooltip="Requires a minimum of 8 characters.  Must include at least 1 number, 1 special character, 1 uppercase letter, and 1 lowercase."></i>
                </label>
                <input class="form-control" id="password" type="password" [formControl]="userChangePasswordForm.controls['password1']"
                       [ngClass]="{'form-control-danger': isNotValid(userChangePasswordForm, 'password1')}" />
                <div *ngIf="isRequiredEmpty(userChangePasswordForm, 'password1')" class="form-control-feedback">You must include a password.</div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': isNotValid(userChangePasswordForm, 'password2')}">
                <label for="code"> Re-type password </label>
                <input class="form-control" id="password-verify" type="password" [formControl]="userChangePasswordForm.controls['password2']"
                       [ngClass]="{'form-control-danger': isNotValid(userChangePasswordForm, 'password2')}" />
                <div *ngIf="isRequiredEmpty(userChangePasswordForm, 'password2')" class="form-control-feedback">You must re-type the password.</div>
                <div *ngIf="isNotValid(userChangePasswordForm, 'password2')" class="form-control-feedback">The passwords entered do not match.</div>
            </div>
        </form>
        <div class='has-danger'><p class="form-control-feedback">{{error}}</p></div>
    </login-container>

    <pre>{{authstates[state] | devonly}}{{loginstates[state] | devonly}}</pre>
    <pre>{{'FirstTimeModal: '+isFirstTimeModal | json | devonly}}</pre>
    <pre>{{'FirstTimeLogin: '+isFirstTimeLogin | json | devonly}}</pre>
</div>
<cgp-footer></cgp-footer>
<router-outlet></router-outlet>