@import "./styles/variables";

.login-container {
    margin: 0 auto;
    margin-top: 75px;
    padding: 20px 20px 5px 20px;
    width: 400px;
    min-height: 250px;
    background-color: $off-white;
    border: 1px solid $light-gray;
    h2 {
        text-align: center;
        margin-bottom: 25px;
    }
    .login-submit-container {
        text-align: center;
        button[type=submit] {
            margin: 0 auto;
            margin-top: 20px;
            padding: 0 50px;
        }
    }

    p {
        margin-top: 20px;
        text-align: center;
        a {
            color: $primary-color;
        }
    }
}
