@import "variables";

/* Overrides for twitter bootstrap, this is imported to bootstrap's scss */

// Button overrides
button.btn, label.btn {
	font-family: "AmazonEmber-Light";
	font-size: 14px;
	height: 32px;
	padding: 6px 8px;
	border-radius: 2px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	width: initial;
	&.l-primary, .btn-primary{
	  	// @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		@include button-variant($white, $primary-color, $primary-color);
		// Lighten for hover, darken is already the default for active
		&:hover, &:focus, &.focus {
			background-color: lighten($primary-color, 10%);
			border-color: lighten($primary-color, 12%);
			box-shadow: none;
		}
		&.active.focus {
			background-color: darken($primary-color, 10%);
			border-color: darken($primary-color, 12%);
			box-shadow: none;

		}
	}

	&.btn-outline-primary, &.l-secondary {
		@include button-variant($primary-color, $white, $primary-color);
		&:focus, &.focus {
			box-shadow: none;
		}
	}
	&.l-dropdown {
		@include button-variant($primary-color, $white, $button-default-border);
		display: inline;
		&:focus, &.focus {
			box-shadow: none;
		}
		&::after {
			content: none;
		}
		i {
			margin-left: 5px;
			line-height: 18px;
		}
		&:hover, &:focus, &.focus, &:active, &.active, .dropdown-toggle {
			border: 1px solid $primary-color;
			background-color: darken($white, 5%);
			border-color: lighten($primary-color, 10%);
		}
	}
}
// override for dropdown active styling
button.btn.l-dropdown:active, button.btn.l-dropdown.active, .show>button.btn.l-dropdown.dropdown-toggle {
	border: 1px solid $primary-color;
	background-color: darken($white, 5%);
	border-color: lighten($primary-color, 10%);
}


// radio button CSS

label.radio-btn-label {
	margin-right: 20px;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
  background-color: white;
  border: 1px solid;
  border-color: $primary-color;
  border-radius: 50px;
  display: inline-block;
  margin-right: 8px;
  padding: 8px;
  position: relative;
}
input[type="radio"]:checked + span {
  color: #f00;
}
input[type="radio"]:checked + span:after {
  background: $primary-color;
  border-radius: 50px;
  content: " ";
  height: 10px;
  width: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
}

label:hover input[type=radio] + span, label:focus input[type=radio] + span {
  border-color: $primary-color;
  box-shadow: 0px 1px 1px 0px #6441A5;
}
