// Change dropdown color to be primary color when clicked
.dropdown-item.active, .dropdown-item:active {
	background-color: $primary-color;
}

.d-inline-block {
	width: inherit;
}

// remove padding from the dropdown menu and add it to the dropdown item so the
// active & hover colors change the entire content box.
.dropdown-menu {
	padding: 0;
}
.dropdown-item {
    font-family: "AmazonEmber-Light"
}
// Remove default caret down from ngbdropdown
#deploymentDropdown::after {
	display: none;
}