/* Amazon Ember fonts for modern desktop and mobile browsers */
// AmazonEmber-Regular is brought in <head> so it's not repeated here

// Ordered from skinny to chunky
@font-face {
    font-family: "AmazonEmber-Thin";
    src: url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/AmazonEmber_Th._V503963883_.woff') format('woff'),
    url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/AmazonEmber_Th._V536571949_.ttf') format('truetype');
}
@font-face {
    font-family: "AmazonEmber-Regular";
    src: url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/amazon_ember_rg-webfont._V536573323_.woff2') format('woff2'),
        url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/amazon_ember_rg-webfont._V536573323_.woff') format('woff'),
        url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/AmazonEmber_Rg._V536573323_.ttf') format('truetype');
}
@font-face {
	font-family: "AmazonEmber-Bold";
    src: url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/amazonember-bold-webfont._V529584225_.woff2') format('woff2'),
         url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/amazonember-bold-webfont._V529584225_.woff') format('woff'),
         url('https://m.media-amazon.com/images/G/01/cloudcanvas/fonts/AmazonEmber_Bd._V536571949_.ttf') format('truetype');
}