/* Generic form control modifications */
button, input, optgroup, select, textarea {
	font-size: 14px; //default size for all modal form input text
	font-family: "AmazonEmber-Light";
}

.form-control {
	border: 1px solid inherit;
	transition: border .3s ease-out;
	border-radius: 2px;
	font-size: 14px;
	padding: 8px;
	&:focus, &:hover:not(:disabled) {
		transition: border .3s ease-in;
		border: 1px solid $primary-color;
	}
}

input {
	height: 32px;
	.full-width {
		width: 100%;
	}
}
.row {
	margin-left: 0;
	margin-right: 0;
	&.center {
		align-items: center;
	}
}

label {
	font-size: 12px;
	color: $darker-gray;
	font-family: "AmazonEmber-Regular";
	padding-bottom: 0;
	user-select: none;
	&.inline {
		margin-top: 8px;
	}
}

textarea {
	color: $darker-gray;
}
button:focus {
	outline: 5px auto $primary-color;
}
// Custom checkbox CSS

[type="checkbox"] + label {
	font-family: "AmazonEmber-Light";
	font-size: 14px;
	cursor: pointer;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #6441A5;
    background: #fff;
    border-radius: 2px;
    left: 0;
    padding: 5px 0;
	transition: all .2s;
	top: 0;
}

[type="checkbox"]:checked + label:before {
	background-color: $primary-color;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    font-family: "FontAwesome";
    content: "✔";
    color: #fff;
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 14px;
    transition: all .3s;
    width: 20px;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: $light-gray;
	background-color: $lighter-gray;
}
[type="checkbox"]:disabled:not(:checked) + label:before {
    border-color: $light-gray;
	background-color: $white;
}
[type="checkbox"]:disabled:checked + label:after {
	color: $white;
}
[type="checkbox"]:disabled + label {
	color: $primary-color;
}

/* hover style just for information */
label:hover:before {
	border: 1px solid $primary-color;
}
// end checkbox CSS

.form-control[type="search"] {
	&:focus {
		border-color: $primary-color;
	}
}
// Datepicker styles
// Change datepicker background and override bootstrap default color
.bg-primary {
	background-color: $primary-color !important;
}
.text-info {
	color: $primary-color !important;
}

select option:hover {
	background-color: $primary-color;
	box-shadow: inset 20px 20px $primary-color;
}

// Dropdown rules

// Change dropdown color to be primary color when clicked
.dropdown-item.active, .dropdown-item:active {
	background-color: $primary-color;
}

.d-inline-block {
	position: relative;
}

.dropdown-menu {
	position: absolute;
}

// remove padding from the dropdown menu and add it to the dropdown item so the
// active & hover colors change the entire content box.
.dropdown-menu {
	padding: 0;
}
.dropdown-item {
	padding: 5px inherit;
}
// Remove default caret down from ngbdropdown
#deploymentDropdown::after {
	display: none;
}


// pagination rules
pagination {
	.page-link:focus, .page-link:hover {
		background-color: $primary-color;
		color: $primary-color;
	}
	a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
		color: $white;
	}
}

// radio button CSS

label.radio-btn-label {
	margin-right: 20px;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
  background-color: white;
  border: 1px solid;
  border-color: $primary-color;
  border-radius: 50px;
  display: inline-block;
  float: left;
  margin-right: 8px;
  padding: 8px;
  position: relative;
}
input[type="radio"]:checked + span {
  color: #f00;
}
input[type="radio"]:checked + span:after {
  background: $primary-color;
  border-radius: 50px;
  content: " ";
  height: 10px;
  width: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
}

label:hover input[type=radio] + span, label:focus input[type=radio] + span {
  border-color: $primary-color;
  box-shadow: 0px 1px 1px 0px #6441A5;
}
