// reduce size of modal
.modal-lg .modal-content {
    margin: 60px;
    min-height: 200px;
}
body .modal-header {
    padding: 15px;

    h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    button > span {
        font-size: 24px;
    }
}
.modal-body {
    padding: 20px 15px;
    .row > label {
        padding-left: 0;
    }
}

.modal.show .modal-dialog {
   top: 20%;
}

.modal-footer {
    border-top: 0;
    button.btn {
        &.l-tertiary {
            padding: 5px 20px;
        }
        &.l-primary {
            padding: 5px 25px;
        }
    }
}