.sub-header-area.row {
	border-bottom: 2px solid $border-gray;	
	margin-left: -10px;
	margin-bottom: 20px;
	.sub-menu-item {
		text-align: center;
		padding: 0px 10px 5px;
		margin-right: 15px;
		// Pull this out of the flow to interact this border with the parent border
		position: relative;
		top: 2px;
		color: $darker-gray;
		&-active {
			border-bottom: 4px solid $primary-color;	
			color: $primary-color;
		}
	}
}