// Remove top border on table heading
table.table {
	// header row elements
	thead tr {
	    border-bottom: 1px solid $border-gray;
		th {
			font-size: 12px;
			font-weight: normal;
			color: $darker-gray;
		    padding-bottom: 5px;
		    border: none;
			user-select: none;
			cursor: default;
			
			div {
				display: inline-block;
			}
			i {
				margin-left: 3px;
			}
		}
	}
	// body row elements
	tbody tr {
		border: 1px solid $border-gray;
		font-size: 14px;
		td {
			color: $gray;
			padding: 20px 13px;
			a {
				color: $primary-color !important;
			}
		}
		div.float-right {
			i {
				padding: 0 3px;
				cursor: pointer;
			}
		}
	}
    @keyframes newrow {
        from {
          background-color: $off-white;
          outline: 1px solid lighten($primary-color, 20%);
        }
        to {
          background-color:$white;
          outline: 1px solid $border-gray;
        }
    }
    .new-row{
        background-color:$white;
        border: 1px solid $border-gray;
        animation-name: newrow;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
	&.table-hover tbody tr:hover {
	// border: 2px solid lighten($primary-color, 10%);
	outline: 1px solid lighten($primary-color, 20%);
	background-color: $off-white;
	margin-top: 1px;
	cursor: pointer;
	}

    /* checkbox style in a table */
    [type="checkbox"]:not(:checked) + label, 
    [type="checkbox"]:checked + label {
	    position: relative;
	    padding-left: 25px;
	    cursor: pointer;
	    margin-top: 4px;
        margin-bottom: 15px;
        margin-right: 5px;
    }
}

