// Changing all headers in CGP.
body {
	h1, h2, h3 {
		font-family: "AmazonEmber-Light";
	}
	* {
		font-family: "AmazonEmber-Light";
		font-size: 14px;
	}

	h1{
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
	}
}