// Changing all headers in CGP.
body {
	h1, h2, h3, h4 {
	font-family: "AmazonEmber-Light";
	color: $darker-gray;
	}

	h1{
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
		font-family: "AmazonEmber-Regular";
	}
	h4 {
		font-size: 12px;
	}
	p, section, ul > li {
		font-size: 14px;
	}
}