@import "variables";

// Default Toast
#toast-container.toast-bottom-right > div {
    background-color: white;
    width: 400px;
    color: black;
    cursor: default;
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }

    .toast-close-button {
        color: black;
        &:focus, &:hover {
            opacity: 1;
        }
    }
    .cgp-toastr-message {
        font-size: 12px;
    }

    .toast-close-button {
        font-family: "FontAwesome";
        content: "\f00d";
        font-size: 24px;
        position: absolute;
        right: 6px;
        color: $lighter-gray;
    }

    // Success Toast
    &.toast-success {
        border: 1px solid $bright-green;
        border-top: 4px solid $bright-green;
        .cgp-toastr-message {
            &:before {
                font-family: "FontAwesome";
                content:"\f00c";
                font-size: 22px;
                position: absolute;
                left: 15px;
                top: 10px;
                color: $bright-green;
            }
        }
    }

    // Warning Toast
    &.toast-warning {
        border: 1px solid orange;
        border-top: 4px solid orange;
        .cgp-toastr-message {
            &:before {
                font-family: "FontAwesome";
                content:"\f071";
                font-size: 22px;
                position: absolute;
                left: 15px;
                top: 10px;
                color: orange;
            }
        }
    }

    // Error Toast
    &.toast-error {
        border: 1px solid red;
        border-top: 4px solid red;
        .cgp-toastr-message {
            &:before {
                font-family: "FontAwesome";
                content:"\f071";
                font-size: 22px;
                position: absolute;
                left: 15px;
                top: 10px;
                color: red;
            }
        }
    }

    // Info Toast - no icon
    &.toast-info {
        border: 1px solid $primary-color;
        border-top: 4px solid $primary-color;
    }
}
