@import "variables";

.tooltip.show, .tooltip-inner {
    background-color: $primary-color;
    padding: 3px 5px;
    opacity: 1;
    font-size: 11px;
    text-align: left;
    // forcing a max width moves the ::before element.  Leaving this out for now
     max-width: 400px;
}

// Bottom position
.tooltip.bs-tooltip-bottom .tooltip-inner::before, .tooltip.bs-tether-element-attached-top .tooltip-inner::before {
    border-bottom-color: $primary-color;
    margin-top: -5px;
}
ngb-tooltip-window.tooltip.show.bs-tooltip-bottom {
    margin-top: 8px;
}

// Top position
.tooltip.bs-tooltip-top .tooltip-inner::before, .tooltip.bs-tether-element-attached-bottom .tooltip-inner::before {
    border-top-color: $primary-color;
    margin-bottom: -5px;
}
ngb-tooltip-window.tooltip.show.bs-tooltip-top {
    margin-top: -8px;
}

// Right position
.tooltip.bs-tooltip-right .tooltip-inner::before, .tooltip.bs-tether-element-attached-left .tooltip-inner::before {
    border-right-color: $primary-color;
    margin-left: -5px;
}
ngb-tooltip-window.tooltip.show.bs-tooltip-right {
    margin-left: 8px;
}

// Left position
.tooltip.bs-tooltip-left .tooltip-inner::before, .tooltip.bs-tether-element-attached-right .tooltip-inner::before {
    border-left-color: $primary-color;
    margin-right: -5px;
}
ngb-tooltip-window.tooltip.show.bs-tooltip-left {
    margin-left: -8px;
}