// Utility classes - non semantic

.ignore-col-margin {
    margin-left: -15px;
}

.visibility-hidden {
	visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.valign-middle {    
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
}