/* Main colors */
$primary-color: #6441A5;
$primary-active-color: #8A0ECC;
$secondary-color: #f2912b;
$white: #FFFFFF;
$black: #000000;
$darker-gray: #222222;
$dark-gray: #333333;
$gray: #444444;
$light-gray: #999999;
$lighter-gray: #cccccc;
$off-white: #f8f8f8;

$border-gray: #EEEEEE;
$border-purple: #6441A5;

$button-default-border: rgba(0, 0, 0, 0.15);

$footer-height: 32px;