/* Main colors */
$primary-color: #6441A5;
$primary-active-color: #8A0ECC;
$white: #FFFFFF;
$black: #000000;
$darker-gray: #222222;
$dark-gray: #333333;
$gray: #444444;
$light-gray: #999999;
$lighter-gray: #cccccc;
$off-white: #f8f8f8;
$light-yellow: #fcfaed;
$green: darkseagreen;
$bright-green: #5CBA65;
$red: indianred;
$light-purple: rgb(162,107,255);
$red: rgb(214,58,50);

$border-gray: #EEEEEE;
$border-light-gray: rgb(149,149,149);
$border-purple: #6441A5;

$button-default-border: rgba(0, 0, 0, 0.15);

$nav-height: 75px;

$footer-height: 32px;