/* Main SCSS file.  Used for vending our packaged SCSS that both us and our customers can utilize.
   Files expected for reuse are indicated as so by using sass partials
*/


@import "fonts";
@import "variables";
@import "links";
@import "subnavs";
@import "tables";
@import "graph";
@import "text";
@import "modals";
@import "datetimerangepicker";
@import "forms";
@import "list";
@import "dropdown";
@import "pagination";
@import "feedback";
@import "slider";
@import "tooltips";
@import "tables/tables";
@import "toastr";
@import "util";

@import "nouislider";
@import "leaflet";

html {
    overflow-x: hidden;
    // calculate right margin so nav items don't get pushed by scrollbar
    margin-right: calc(-1 * (100vw - 100%));
}
html, body {
	height: 100%;
	margin: 0;
}

// container for all content
.cgp-container {
	min-height: 100%;
	margin-bottom: -35px;
}


.footer-push {
	height: 35px;
}

.cgp-login-container {
	> h1, > h2 {
		text-align: center;
		margin-bottom: 15px;
	}

	> h2 + loading-spinner > div {
		padding-top: 50px;
	}
}



img {
	max-width: 100%;
}

i.refresh-icon {
    float: right;
    padding-right: 20px;
    cursor: pointer;
}