<div class="gem-container">
    <facet-generator [context]="context"
        [tabs]="['Overview']"
        (tabClicked)="subNavActiveIndex = $event"
        [metricIdentifier]="context.identifier"></facet-generator>
    <div *ngIf="subNavActiveIndex == 0 || subNavActiveIndex === undefined" [ngSwitch]="isLoading">
        <div *ngSwitchCase="true">
            <loading-spinner></loading-spinner>
        </div>
        <div *ngSwitchCase="false" class="container">
            <div *ngIf="!hasNoContent">
                <div class="header" *ngIf="bShowDragTutorial">
                    <div class="row">Manifests and packages uploaded through the Dynamic Content Manager in Lumberyard will appear below.</div>
                    <div class="row">Drag &amp; drop the manifests and packages across columns to make them available in a specific environment.</div>
                </div>
                <div class="row">
                    <div class="swimlane col-lg-4 swimland-right-border" *ngFor="let stage of stages">
                        <div class="swimlane-header">
                            <h2>{{stage.displayName}}</h2>
                        </div>
                        <dragable [id]="stage.state" [bagId]="bucket" [heightPx]="bucketHeight" [drop]="onDrop" [over]="onOver">
                            <action-stub *ngFor="let decendant1 of stage.tree" class="{{decendant1.className}}" [id]="decendant1.FileName" [secondaryText]="decendant1.secondaryText" [statusClassNames]="decendant1.statusClassNames" [model]="decendant1" [subtext]="decendant1.subText === undefined ? decendant1.scheduledDateTime : decendant1.subText" [click]="onClick" [text]="decendant1.FileName" [textTouch]="onClick" [edit]="onEdit" [delete]="decendant1.isMissing === undefined ? onDelete : null">
                                <action-stub *ngFor="let decendant2 of decendant1.children" class="{{decendant2.className}}" [id]="decendant2.FileName" [secondaryText]="decendant2.secondaryText" [statusClassNames]="decendant2.statusClassNames" [subtext]="decendant2.subText === undefined ? decendant2.scheduledDateTime : decendant2.subText" [model]="decendant2" [text]="decendant2.FileName" [delete]="decendant2.isMissing === undefined ? onDelete : null" [textTouch]="onClick" [click]="onClick">
                                    <action-stub *ngFor="let decendant3 of decendant2.children" class="{{decendant3.className}}" [id]="decendant3.FileName" [secondaryText]="decendant3.secondaryText" [statusClassNames]="decendant3.statusClassNames" [subtext]="decendant3.subText === undefined ? decendant3.scheduledDateTime : decendant3.subText" [model]="decendant3" [text]="decendant3.FileName" [delete]="decendant3.isMissing === undefined ? onDelete : null" [textTouch]="onClick" [click]="onClick">
                                        <action-stub *ngFor="let decendant4 of decendant3.children" class="{{decendant4.className}}" [id]="decendant4.FileName" [secondaryText]="decendant4.secondaryText" [statusClassNames]="decendant4.statusClassNames" [subtext]="decendant4.subText === undefined ? decendant4.scheduledDateTime : decendant4.subText" [model]="decendant4" [text]="decendant4.FileName" [delete]="decendant4.isMissing === undefined ? onDelete : null" [textTouch]="onClick" [click]="onClick">
                                            <action-stub *ngFor="let decendant5 of decendant4.children" class="{{decendant5.className}}" [id]="decendant5.FileName" [secondaryText]="decendant5.secondaryText" [statusClassNames]="decendant5.statusClassNames" [subtext]="decendant5.subText === undefined ? decendant5.scheduledDateTime : decendant5.subText" [model]="decendant5" [text]="decendant5.FileName" [delete]="decendant5.isMissing === undefined ? onDelete : null" [textTouch]="onClick" [click]="onClick">
                                                <action-stub *ngFor="let decendant6 of decendant5.children" class="{{decendant6.className}}" [id]="decendant6.FileName" [secondaryText]="decendant6.secondaryText" [statusClassNames]="decendant6.statusClassNames" [subtext]="decendant6.subText === undefined ? decendant6.scheduledDateTime : decendant6.subText" [model]="decendant6" [text]="decendant6.FileName" [delete]="decendant6.isMissing === undefined ? onDelete : null" [textTouch]="onClick" [click]="onClick">
                                                </action-stub>
                                            </action-stub>
                                        </action-stub>
                                    </action-stub>
                                </action-stub>
                            </action-stub>
                        </dragable>
                    </div>
                    <div class="swimlane-footer row">
                        <div class="swimlane-footer-title"><h4>{{currentDynamicContent.FileName}}</h4></div>
                        <div class="swimlane-footer-left">
                            <div>File state: {{currentDynamicContent.StagingStatus}}</div>
                            <div>File parent: {{currentDynamicContent.Parent}}</div>
                            <div>Start: {{currentDynamicContent.StagingStart}}</div>
                            <div>Stop: {{currentDynamicContent.StagingEnd}}</div>
                            <div>Details: <pre>{{currentDynamicContent | json}}</pre></div>
                        </div>
                        <div class="swimlane-footer-right">
                            <div>Description: {{currentDynamicContent.Description}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="hasNoContent" class="container text-left">
                <div class="row">
                    <p class="col-8">There was no dynamic content found.  You can use the Lumberyard Editor to create your own dynamic content packages.</p>
                </div>
                <div class="row">
                    <p class="col-8">In the Lumberyard Editor go to the menu View -> Open View Pane -> Dynamic Content Manager.</p>
                </div>
                <div class="row">
                    <a class="col-8" href="http://docs.aws.amazon.com/lumberyard/latest/developerguide/cloud-canvas-intro.html" target="_blank"> Cloud Canvas Introduction </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal definitions-->
<modal *ngIf="mode == 1" title="Move PAK '{{currentDynamicContent.FileName}}'"
        [hasSubmit]="true"
        [metricIdentifier]="context.identifier"
        (modalSubmitted)="onSubmit(currentDynamicContent)"
        submitButtonText="Move content"
        [onClose]="updateView"
        [onDismiss]="updateView"
        [autoOpen]="true">
    <div class="modal-body modal-padding">
        <form>
            <div class="form-group row">
                <label for="transition" class="col-3 col-form-label affix">Transition</label>
                Move content from stage '{{currentStageDisplayName}}' to:
                <div class="d-inline-block transition-stage-dropdown" ngbDropdown [class.has-danger]="currentDynamicContent.validated && currentDynamicContent.stage">
                        <button type="button" class="btn search-dropdown l-dropdown" ngbDropdownToggle>
                        <span> {{currentDynamicContent.stage}} </span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dynamic-content-stage-dropdown">
                        <button *ngFor="let stage of transitionStages" (click)="currentDynamicContent.stage = stage.name" name="transitionStage"
                        type="button" class="dynamic-content-dropdown-item dropdown-item" [value]="stage.value">
                            {{ stage.name }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group row" [class.has-danger]="!(currentDynamicContent.start.valid && currentDynamicContent.end.valid)" *ngIf="currentDynamicContent.stage == 'Private' || currentDynamicContent.stage == 'Scheduled'">
                <label for="schedule" class="col-3 col-form-label affix form-control-label"> Scheduling </label>
                <div class="col-9 col-push-3 form-control-danger">
                    <datetime-range-picker (dateTimeRange)="dprModelUpdated($event)"
                                           [startDateModel]="currentDynamicContent.start.date"
                                           [endDateModel]="currentDynamicContent.end.date"
                                           [startTime]="currentDynamicContent.start.time"
                                           [endTime]="currentDynamicContent.end.time"
                                           [hasStart]="currentDynamicContent.start.isScheduled"
                                           [hasEnd]="currentDynamicContent.end.isScheduled"
                                           [isStartRequired]="currentDynamicContent.hasRequiredStartDateTime"
                                           [isEndRequired]="currentDynamicContent.hasRequiredEndDateTime"></datetime-range-picker>
                    <div *ngIf="!(currentDynamicContent.start.valid && currentDynamicContent.end.valid)" class="form-control-feedback">{{currentDynamicContent.datetime.message}}</div>
                </div>
                <!--<pre>{{ currentDynamicContent | json | devonly }}</pre>-->
            </div>
            <div class="form-group row" *ngIf="currentDynamicContent.children && currentDynamicContent.children.length>0">
                <label for="priority" class="col-3 col-form-label affix"> Package Children </label>
                <div class="d-inline-block col-9" ngbDropdown>
                    What content in the PAK '{{currentDynamicContent.FileName}}' would you like to move?
                    <div class="modal-pak-children">
                        <div *ngFor="let pak1 of currentDynamicContent.children">
                            <input type="checkbox" [id]="pak1.FileName" [(ngModel)]="pak1.checked" name="pak1.FileName" />
                            <label class="l-checkbox" [attr.for]="pak1.FileName" [id]="pak1.FileName">
                                {{pak1.FileName}}
                            </label>
                             <div class="modal-pak-children-checkbox" *ngFor="let pak2 of pak1.children">
                                <input type="checkbox" [id]="pak2.FileName" [(ngModel)]="pak2.checked" name="pak2.FileName" />
                                <label class="l-checkbox" [attr.for]="pak2.FileName" [id]="pak2.FileName">
                                    {{pak2.FileName}}
                                </label>
                                <div class="modal-pak-children-checkbox" *ngFor="let pak3 of pak2.children">
                                    <input type="checkbox" [id]="pak3.FileName" [(ngModel)]="pak3.checked" name="pak3.FileName" />
                                    <label class="l-checkbox" [attr.for]="pak3.FileName" [id]="pak3.FileName">
                                        {{pak3.FileName}}
                                    </label>
                                     <div class="modal-pak-children-checkbox" *ngFor="let pak4 of pak3.children">
                                        <input type="checkbox" [id]="pak4.FileName" [(ngModel)]="pak4.checked" name="pak4.FileName" />
                                        <label class="l-checkbox" [attr.for]="pak4.FileName" [id]="pak4.FileName">
                                            {{pak4.FileName}}
                                        </label>
                                        <div class="modal-pak-children-checkbox" *ngFor="let pak5 of pak4.children">
                                            <input type="checkbox" [id]="pak5.FileName" [(ngModel)]="pak5.checked" name="pak5.FileName" />
                                            <label class="l-checkbox" [attr.for]="pak5.FileName" [id]="pak5.FileName">
                                                {{pak5.FileName}}
                                            </label>
                                        </div>
                                     </div>
                                </div>
                             </div>
                       </div>
                    </div>
                </div>
            </div>
        </form>
        <!--<pre>{{currentDynamicContent | json | devonly}}</pre>-->
    </div>
</modal>

<modal *ngIf="mode == 2"
       title="Delete Dynamic Content"
       [metricIdentifier]="context.identifier"
       [hasSubmit]="true"
       (modalSubmitted)="onDeleteSubmit(currentDynamicContent)"
       [onClose]="updateView"
       [onDismiss]="updateView"
       [autoOpen]="true"
       submitButtonText="Delete Content">
    <div class="modal-body">
        <p> Are you sure you want to delete the dynamic content package '{{currentDynamicContent.FileName}}' and all children?</p>
        <!--<pre>{{currentDynamicContent | json | devonly}}</pre>-->
    </div>
</modal>