.header{
    min-height:100px; 
}

.swimlane{
    text-align: center;  
}

.swimland-right-border{
    border-right: 1px dashed #cccccc;
}

.swimlane-header{
    border-bottom: 1px solid #6441A5;		
	margin-bottom: 20px;
}

.swimlane-footer{
    border-top: 1px solid #CCCCCC;
    float:left;
    width: 100%;
    margin-top: 5px;
}
.swimlane-footer-title{
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.swimlane-footer-left{
    float: left;
    width: 500px;    
    margin-left: 15px;
}

.swimlane-footer-right{
    float: left;    
}

.modal-cell{        
    padding-right: 10px;
    display: inline;
}

.modal-padding{
    padding-left: 10px;
}

.modal-pak-children {    
    margin: 10px 0;
    overflow-y: auto;
}

.modal-pak-children label {
    margin-top:.5rem; /* Equal padding on top and bottom for these checkboxes */ 
}

.modal-pak-children-checkbox {
    display: block;
    padding-left: 10px;
}

.action-stub .secondaryText > div{
    color: #f4a742;
    font-style: italic;
}

select[name="transitionStage"] {
    margin-top: 10px;
}

.missing > div{
    opacity: 0.6;    
}

.located-parent > div .row .col-10 .primary-text-container small{
    color: #E57829;    
}

.missing > div > .row > .col-10 .primary-text-container > p {
    text-decoration: line-through;
}

.missing > div .row .col-10 .primary-text-container small{
    color: #E57829;    
}

.missing-decendant > div .row .col-10 .primary-text-container small{
    color: #E57829;    
}

.transition-stage-dropdown {
    margin-left: 10px;
}