@import "./styles/variables";

$nav-border-size: 4px;

*:not(i) {
    font-family: "AmazonEmber-Light";
}

.dropdown-toggle::after {
    display: none;
}

#signout-dropdown {
    right: 0px;
    text-align: center;
    left: auto;
}

nav.navbar.navbar {
    background-image: linear-gradient(-180deg, #ffffff 0%, #f5f5f5 100%);
    box-shadow: 1px 1px 3px 0 rgba(85,85,85,0.50);
    height: $nav-height;
    padding: 0;
    margin-bottom: 1px; //preserve box shadow
    z-index: 1001; //do not changes this to less or leaflet will appear above header.
    position: fixed;
    top: 0;
    width: 100%;
    // Common link rules for all nav
    a {
        font-size: 20px;
        cursor: pointer;
    }

    a, i {
        color: $gray;
    }

    .dropdown-menu {
        a {
            display: block;
            &.active, &:active {
                background-color: $primary-color;
                color: $white;
            }
        }
    }

    a.share-link {
        position: absolute;
        font-size: 12px;
    }
}

.navbar-brand {
    // Some fixes to expand brand outside of normal single link
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;

    a, i {
        color: $primary-color;
        display: inline-block;
        vertical-align: middle;
    }

    .brand-left {
        margin: 0 20px;
        display: inline-block;

        > .brand-text {
            border-right: 1px solid $border-gray;
            padding-left: 5px;
            padding-right: 20px;
            padding: 25px 20px 20px 5px;
            color: $primary-color;
        }

        .brand-image {
            display: inline-block;
        }
    }

    .brand-right {
        display: inline-block;
        position: relative;
        top: .5em;
        color: $gray;

        p.small {
            font-size: 13px;
            color: $darker-gray;
            margin-bottom: -2px;
        }

        a {
            padding-right: 5px;

            i {
                margin-left: 3px;
            }
        }
    }
}

.navbar-nav {
    margin-left: auto;
    padding-right: 20px;
    background-color: #ffffff;    
    padding-left: 10px;
    .dropdown {
        padding: 8px;
        margin: 8px 0;
        border-left: 1px solid $border-gray;
        a {
            i {
                padding-left: 5px;
            }
        }
    }
    a.nav-item {
        padding: 12px 5px;
        margin: 0 12px;
        color: $gray;
        i {
            padding: 0;
            vertical-align: middle;
        }
    }   
}

.navbar-collapsed {
    border: 1px solid rgba($black,.1);
    padding-bottom: 10px;
    background-color: #ffffff;
}

.navbar-user-collapsed {    
    padding-left: 15px;    
}

.deployment-dropdown {
    padding-top: 12px;
    a > i {
        margin-left: 5px;
    }
}
