@import "./styles/variables";

$footer-offset-collapsed: 145px;
$footer-offset-expanded: 190px;

.push {
    &.expanded {
        height: 300px;
    }
    &.collapsed {
        height: 150px;
    }
}

.sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: $off-white;
    z-index: 1;
    padding-top: $nav-height;
    overflow: hidden;
    .sidebar-main {
        min-height: 100%;
        &.expanded {
            margin-bottom: -$footer-offset-expanded;
        }
        &.collapsed {
            margin-bottom: -$footer-offset-collapsed;
        }
    } 
    .sidebar-links { 
        a {
            position: relative;
            padding: 20px 25px;
            margin: 10px 0 5px 0;
            cursor: pointer;
            color: inherit;
            text-decoration: none;
            border-left: 3px solid transparent; 
            display: block;
            &:hover, &:active, &.hover, &.active, .active {
                color: $primary-color;
            }
            &.active {
                border-left: 3px solid $primary-color;
            }
            
            i {
                color: inherit;
                top: 14px;
            }
            span {
                color: inherit;
                font-family: "AmazonEmber-Light";
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                top: 8px;
                left: 60px;
            }
            * {
                position: absolute;
            }
        }

        .child-links {
            .child-link {
                padding: 0;
                text-align: left;
                padding-left: 60px;
                font-size: 12px;
                margin: 5px 0;
                font-family: "AmazonEmber-Regular";
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    .sidebar-footer {
        &.expanded {
            height: $footer-offset-expanded;
        }
        &.collapsed {
            height: $footer-offset-collapsed;
        }
        .sidebar-links {
            border-top: 1px solid $border-gray;
            border-bottom: 1px solid $border-gray;
            margin-bottom: 20px;
            padding-bottom: 15px;
        }
        .sidebar-close {
            float: right;
            margin-right: 25px;
        }
    }

    &.sidebar-collapse {
        .sidebar-links {
            a i { 
                margin-right: 0;
            }
        }
        .sidebar-footer .sidebar-close {
            float: none;
            margin-right: 0;
            text-align: center;
        }
    }
}
