<div class="sidebar-container" [@sidebarState]="sidebarState" [class.sidebar-collapse]="sidebarState === 'Collapsed'">
    <div class="sidebar-main" [ngClass]="(sidebarState === 'Collapsed') ? 'collapsed' : 'expanded'">
        <div class="sidebar-links">
            <a routerLink="/game/cloudgems" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                <span *ngIf="sidebarState === 'Expanded'"> Cloud Gems </span>
            </a>
            <div *ngIf="sidebarState === 'Expanded'">
                <ng-container [ngSwitch]="gemService.currentGems.length === 0 && !gemService.isLoading">
                    <!-- Case where there aren't any gems and we're done loading -->
                    <div *ngSwitchCase="true"> </div>
                    <!-- Case where we might still be loading gems -->
                    <div *ngSwitchCase="false">
                        <div class="child-links" [ngSwitch]="gemService.isLoading">
                            <div *ngSwitchCase="true">
                                <loading-spinner></loading-spinner>
                            </div>
                            <div *ngSwitchCase="false">
                                <div *ngFor="let gem of gemService.currentGems" class="sidebar-links">
                                    <a class="child-link" (click)="raiseRouteEvent('/game/cloudgems/'+gem.identifier)" routerLinkActive="active">
                                        {{gem.displayName}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="featureMap != null && (featureMap | json) != ({} | json)">
                <div *ngFor="let feature of featureMap | objKeys">
                    <div *ngIf="featureMap[feature].length > 0 && featureMap[feature][0].location == 0">
                        <a (click)="raiseRouteEvent('/game/'+feature.toLowerCase())" routerLinkActive="active">
                            <i class="fa fa-area-chart fa-lg" aria-hidden="true"></i>
                            <span *ngIf="sidebarState === 'Expanded'"> {{ feature }} </span>
                        </a>
                        <div class="child-links" *ngIf="sidebarState === 'Expanded'">
                            <div *ngFor="let child of featureMap[feature]">
                                <a *ngIf="child.location == 0" class="child-link" (click)="raiseRouteEvent('/game/'+child.route_path)" routerLinkActive="active">
                                    {{child.name}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a (click)="raiseRouteEvent('/game/support')" routerLinkActive="active">
                <i class="fa fa-life-ring fa-lg" aria-hidden="true"></i>
                <span *ngIf="sidebarState === 'Expanded'"> Support </span>
            </a>
        </div>
        <!-- Used to ensure the side bar footer doesn't overlay the top nav bar items when the windows size is small -->
        <div class="push" [ngClass]="(sidebarState === 'Collapsed') ? 'collapsed' : 'expanded'"></div>
    </div>
    <div class="sidebar-footer" [ngClass]="(sidebarState === 'Collapsed') ? 'collapsed' : 'expanded'">
        <div class="sidebar-links">
            <div *ngIf="featureMap != null && (featureMap | json) != ({} | json)">
                <div *ngFor="let feature of featureMap | objKeys">
                    <div *ngIf="featureMap[feature].length > 0 && featureMap[feature][0].location == 1">
                        <a (click)="raiseRouteEvent('/game/'+feature.toLowerCase())" routerLinkActive="active">
                            <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                            <span *ngIf="sidebarState === 'Expanded'"> {{ feature }} </span>
                        </a>
                        <div class="child-links" *ngIf="sidebarState === 'Expanded'">
                            <div *ngFor="let child of featureMap[feature]">
                                <a *ngIf="child.location == 1" class="child-link" (click)="raiseRouteEvent('/game/'+child.route_path)" routerLinkActive="active">
                                    {{child.name}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-close" (click)="sidebarState = (sidebarState === 'Expanded') ? 'Collapsed' : 'Expanded'">
            <i [ngClass]="sidebarState === 'Expanded' ? 'fa-angle-double-left' : 'fa-angle-double-right'" class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
        </div>
    </div>
</div>