.back-button {
    margin-left: -5px;
}

.row.search-row {
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 0 0 30px;
}

.row.asb-container {
    margin-left: -15px;
}

.search-row .row .form-control {
    padding-left: 5px;    
}

.player-account-asb {
    margin-bottom: 32px;
    margin-top: 10px;
}

.player-account-details > div {
    margin: 10px 0;
}
.player-account-details > div > * {
    display: inline-block;
}

.player-account-details > div > div:first-child{
    font-family: "AmazonEmber-Bold";
    width: 200px;
}

/* Offset for inline icon fonts */
.asb-container .row info { 
   margin: 0 5px; 
}

action-stub-basic .fa {
   margin-top: 4px;
   margin-right: 5px;
}
