<facet-generator [context]="context"
        [tabs]="['Overview', 'Banned Players']"
        (tabClicked)="changeSubMenuIndex($event)"
        [metricIdentifier]="context.identifier"></facet-generator>
<div *ngIf="activeSubMenuIndex == 0 || activeSubMenuIndex == 1">
    <div *ngIf="activeSubMenuIndex == 0" class="row search-row no-gutters">
        <div class="col-6" [ngSwitch]="mode == modes.Show || mode == modes.Edit">
            <button *ngSwitchCase="true" (click)="mode = modes.List" class="btn l-primary back-button">
                < Back to all Player Accounts
            </button>
            <button *ngSwitchCase="false" (click)="onAdd()" class="btn l-primary back-button">
                Add Account
            </button>
        </div>
        <div class="col-6">
            <search class="float-right" [dropdownOptions]="searchTypes" (searchUpdated)="search($event)"></search>
        </div>
    </div>
    <div *ngIf="mode == modes.List || mode == modes.Add || mode == modes.Ban || mode == modes.RemoveBan">
        <div [ngSwitch]="isLoading">
            <!-- display loading icon if the leaderboards are still being loaded -->
            <div *ngSwitchCase="true">
                <loading-spinner></loading-spinner>
            </div>
            <div *ngSwitchCase="false">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="" width="10%"> USER NAME </th>
                            <th class="" width="15%"> PLAYER NAME </th>
                            <th class="" width="15%"> COGNITO IDENTITY ID </th>
                            <th class="" width="15%"> EMAIL </th>
                            <th class="" width="15%"> ACCOUNT ID </th>
                            <th class="" width="15%"> ACCOUNT STATUS </th>
                            <th class="" width="15%"> LAST MODIFIED </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of listModel">
                            <td class="" (click)="show(entry)"> {{entry.CognitoUsername}} </td>
                            <td class="" (click)="show(entry)"> {{entry.PlayerName}} </td>
                            <td class="" (click)="show(entry)"> {{entry.CognitoIdentityId}} </td>
                            <td class="" (click)="show(entry)"> {{entry.IdentityProviders ? entry.IdentityProviders.Cognito.email : ''}} </td>
                            <td class="" (click)="show(entry)"> {{entry.AccountId}} </td>
                            <td class="" (click)="show(entry)">
                                <i class="fa" [class.success-overlay-color]="containsAccountStatus(entry, accountStatus.active) || containsAccountStatus(entry, accountStatus.confirmed)" [class.fa-check-circle]="containsAccountStatus(entry, accountStatus.active) || containsAccountStatus(entry, accountStatus.confirmed)"
                                    [class.warning-overlay-color]="containsAccountStatus(entry, accountStatus.pending) || containsAccountStatus(entry, accountStatus.unconfirmed)" [class.fa-clock-o]="containsAccountStatus(entry, accountStatus.pending) || containsAccountStatus(entry, accountStatus.unconfirmed)"
                                    [class.fa-user-secret]="containsAccountStatus(entry, accountStatus.anonymous)"></i> {{entry.IdentityProviders ? entry.IdentityProviders.Cognito.status : 'ANONYMOUS'}}
                                <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(entry, accountStatus.archived)" placement="bottom" ngbTooltip="The account has been archived due to inactivity.  This can only be corrected at {{awsCognitoLink}}."></i>
                                <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(entry, accountStatus.unconfirmed)" placement="bottom" ngbTooltip="After the player creates an account, it's not usable until they confirm their email address."></i>
                                <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(entry, accountStatus.compromised)" placement="bottom" ngbTooltip="Please investigate this account further at {{awsCognitoLink}}."></i>
                                <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(entry, accountStatus.reset_required)" placement="bottom" ngbTooltip="The user was imported but has not logged in."></i>
                                <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(entry, accountStatus.force_change_password)" ngbTooltip="After a AWS admin creates an account at {{awsCognitoLink}}, the user is forced to change their password before they can successfully sign in."></i>
                                <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(entry, accountStatus.disabled)" placement="bottom" ngbTooltip="The user has been disabled on the Amazon Cognito site ({{awsCognitoLink}})."></i>
                                <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(entry, accountStatus.unknown)" placement="bottom" ngbTooltip="Mic drop!  ...you hear foot steps walking away..."></i>
                            </td>
                            <td class="" (click)="show(entry)"> {{ entry.IdentityProviders ? (entry.IdentityProviders.Cognito.last_modified_date * 1000 | date: 'medium') : ''}} </td>
                            <td>
                                <div class="float-right" [ngSwitch]="activeSubMenuIndex">
                                    <div *ngSwitchCase="0">
                                        <i (click)="currentAccount = entry; mode = modes.Ban" class="fa fa-ban" data-toggle="tooltip" data-placement="top" title="Ban user"></i>
                                    </div>
                                    <div *ngSwitchCase="1">
                                        <i (click)="currentAccount = entry; mode = modes.RemoveBan" class="fa fa-ban" data-toggle="tooltip" data-placement="top" title="Remove Ban"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-container *ngIf="enablePagination">
                    <pagination type="Token" [showPrevious]="previousPaginationToken && currentPageIndex > 0" 
                    [showNext]="nextPaginationToken && listModel.length >= 20"
                    (pageChanged)="pageChanged($event)"></pagination>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="mode == modes.Show || mode == modes.Edit">
        <div [ngSwitch]="isLoading">
            <div *ngSwitchCase="true">
                <loading-spinner></loading-spinner>
            </div>
            <div *ngSwitchCase="false">
                <form>
                    <h2>Player Account Profile</h2>
                    <div class="row asb-container">
                        <action-stub-basic class="col-6 player-account-asb" [model]="showModel" [edit]="onEdit" [custom]="actionStubActions" [hideEdit]="!showModel || !showModel.AccountId">
                            <div class="account-id">
                                {{showModel ? showModel.AccountId : ""}}
                            </div>
                            <div class="player-name">
                                {{showModel ? showModel.PlayerName : ""}}
                            </div>
                            <div>
                                {{ (showModel && showModel.IdentityProviders) ? showModel.IdentityProviders.Cognito.email : ''}}
                            </div>
                            <div>
                                <div class="row">
                                    <i *ngIf="containsAccountStatus(showModel, accountStatus.active) ||
                                    containsAccountStatus(showModel, accountStatus.pending) ||
                                    containsAccountStatus(showModel, accountStatus.confirmed) ||
                                    containsAccountStatus(showModel, accountStatus.unconfirmed) ||
                                    containsAccountStatus(showModel, accountStatus.anonymous)
                                    " class="fa" [class.success-overlay-color]="containsAccountStatus(showModel, accountStatus.active) || containsAccountStatus(showModel, accountStatus.confirmed)" [class.fa-check-circle]="containsAccountStatus(showModel, accountStatus.active) || containsAccountStatus(showModel, accountStatus.confirmed)"
                                        [class.warning-overlay-color]="containsAccountStatus(showModel, accountStatus.pending) || containsAccountStatus(showModel, accountStatus.unconfirmed)" [class.fa-clock-o]="containsAccountStatus(showModel, accountStatus.pending) || containsAccountStatus(showModel, accountStatus.unconfirmed)"
                                        [class.fa-user-secret]="containsAccountStatus(showModel, accountStatus.anonymous)"></i> {{ (showModel && showModel.IdentityProviders) ? showModel.IdentityProviders.Cognito.status : 'ANONYMOUS'}}
                                    <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(showModel, accountStatus.archived)" placement="bottom" ngbTooltip="The account has been archived due to inactivity.  This can only be corrected at {{awsCognitoLink}}."></i>
                                    <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(showModel, accountStatus.unconfirmed)" placement="bottom" ngbTooltip="After the player creates an account, it's not usable until they confirm their email address."></i>
                                    <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(showModel, accountStatus.compromised)" placement="bottom" ngbTooltip="Please investigate this account further at {{awsCognitoLink}}."></i>
                                    <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(showModel, accountStatus.reset_required)" placement="bottom" ngbTooltip="The user was imported but has not logged in."></i>
                                    <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(showModel, accountStatus.force_change_password)" placement="bottom" ngbTooltip="After a AWS admin creates an account at {{awsCognitoLink}}, the user is forced to change their password before they can successfully sign in."></i>
                                    <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(showModel, accountStatus.disabled)" placement="bottom" ngbTooltip="The user has been disabled on the Amazon Cognito site ({{awsCognitoLink}})."></i>
                                    <i class="fa fa-question-circle-o" *ngIf="containsAccountStatus(showModel, accountStatus.unknown)" placement="bottom" ngbTooltip="Mic drop!  ...you hear foot steps walking away..."></i>
                                </div>
                            </div>
                        </action-stub-basic>
                    </div>
                    <div class="player-account-details">
                        <h2>Additional Account Details</h2>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>User Name</div>
                            <div>{{showModel.CognitoUsername}}</div>
                        </div>
                        <div *ngIf="showModel">
                            <div>Cognito Identity Id</div>
                            <div>{{showModel.CognitoIdentityId}}</div>
                        </div>

                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Email</div>
                            <div>{{showModel.IdentityProviders.Cognito.email}}</div>
                        </div>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Nickname</div>
                            <div>{{showModel.IdentityProviders.Cognito.nickname}}</div>
                        </div>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Given Name</div>
                            <div>{{showModel.IdentityProviders.Cognito.given_name}}</div>
                        </div>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Family Name</div>
                            <div>{{showModel.IdentityProviders.Cognito.family_name}}</div>
                        </div>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Gender</div>
                            <div>{{showModel.IdentityProviders.Cognito.gender}}</div>
                        </div>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Locale</div>
                            <div>{{showModel.IdentityProviders.Cognito.locale}}</div>
                        </div>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Enabled</div>
                            <div>{{showModel.IdentityProviders.Cognito.enabled}}</div>
                        </div>
                        <!--<div *ngIf="showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                          <div>Identity Provider Id</div>
                          <div>{{showModel.IdentityProviders.Cognito.IdentityProviderId}}</div>
                      </div>-->
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Last Modified</div>
                            <div>{{showModel.IdentityProviders.Cognito.last_modified_date * 1000 | date:'medium'}}</div>
                        </div>
                        <div *ngIf="showModel && showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                            <div>Created</div>
                            <div>{{showModel.IdentityProviders.Cognito.create_date * 1000 | date:'medium'}}</div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <pre>{{showModel | json | devonly}}</pre>
            </div>
        </div>
    </div>
</div>
<!-- Modals -->
<!-- Add player modal -->
<modal *ngIf="mode == modes.Add" title="Add Account" [metricIdentifier]="context.identifier" [autoOpen]="true" (modalSubmitted)="addAccount()" [hasSubmit]="true" submitButtonText="Add account" [onClose]="dismissAddModal" [onDismiss]="dismissAddModal">
    <div class="modal-body">
        <form>
            <div class="form-group row" [class.has-danger]="addModel.validation.username.isvalid == false">
                <label class="col-5 col-form-label affix"> Username* </label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="addModel.serialization.CognitoUsername" name="username" type="text" />
                    <div *ngIf="addModel.validation.username.isvalid == false" class="form-control-feedback">{{addModel.validation.username.message}}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label affix"> Player Name </label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="addModel.serialization.PlayerName" name="addModal.serialization.PlayerName" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label affix"> Nickname </label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="addModel.serialization.IdentityProviders.Cognito.nickname" name="addModal.serialization.IdentityProviders.Cognito.nickname" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label affix"> Given Name </label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="addModel.serialization.IdentityProviders.Cognito.given_name" name="addModal.serialization.IdentityProviders.Cognito.given_name" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label affix"> Family Name </label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="addModel.serialization.IdentityProviders.Cognito.family_name" name="addModal.serialization.IdentityProviders.Cognito.family_name" type="text" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label affix"> Gender </label>
                <div class="col-7">
                    <div ngbDropdown>
                        {{addModel.serialization.IdentityProviders.Cognito.gender}}<i id="gender-dropdown" ngbDropdownToggle></i>
                        <div class="dropdown-menu" aria-labelledby="gender-dropdown">
                            <button *ngFor="let gender of ['Male','Female','Both', 'None']" (click)="addModel.serialization.IdentityProviders.Cognito.gender = gender" type="button" class="dropdown-item"> {{gender}} </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" [class.has-danger]="addModel.validation.email.isvalid == false">
                <label class="col-5 col-form-label affix"> Email* </label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="addModel.serialization.IdentityProviders.Cognito.email" name="addModal.serialization.IdentityProviders.Cognito.email" type="email" />
                    <div *ngIf="addModel.validation.email.isvalid == false" class="form-control-feedback">{{addModel.validation.email.message}}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label affix"> Locale </label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="addModel.serialization.IdentityProviders.Cognito.locale" name="addModal.serialization.IdentityProviders.Cognito.locale" type="text" />
                </div>
            </div>
        </form>
    </div>
</modal>

<!-- Edit player modal -->
<modal *ngIf="mode == modes.Edit" [title]="'Edit Player Account'" [metricIdentifier]="context.identifier" [autoOpen]="true" (modalSubmitted)="edit(editModel)" [hasSubmit]="true" submitButtonText="Save" [onClose]="dismissEditModal" [onDismiss]="dismissEditModal">
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label class="col-5 col-form-label affix ">Account ID</label>
                <div class="col-7">
                    <label class="full-width">{{editModel.accountId}}</label>
                </div>
            </div>
            <div *ngIf="showModel.IdentityProviders && showModel.IdentityProviders.Cognito" class="form-group row">
                <label class="col-5 col-form-label affix ">Username</label>
                <div class="col-7">
                    {{ editModel.username }}
                </div>
            </div>
            <div *ngIf="showModel.IdentityProviders && showModel.IdentityProviders.Cognito" class="form-group row">
                <label class="col-5 col-form-label affix ">Last modified</label>
                <div class="col-7">
                    {{editModel.lastModified * 1000 | date: 'medium'}}
                </div>
            </div>
            <div class="form-group row" [class.has-danger]="editModel.validation.playerName.isvalid == false">
                <label class="col-5 col-form-label affix ">Player Name</label>
                <div class="col-7">
                    <input class="form-control full-width" [(ngModel)]="editModel.serialization.PlayerName" name="editModel.serialization.PlayerName" type="text" />
                    <div *ngIf="editModel.validation.playerName.isvalid == false" class="form-control-feedback">{{editModel.validation.playerName.message}}</div>
                </div>
            </div>
            <div *ngIf="showModel.IdentityProviders && showModel.IdentityProviders.Cognito">
                <div class="form-group row" [class.has-danger]="editModel.validation.nickName.isvalid == false">
                    <label class="col-5 col-form-label affix ">Nickname</label>
                    <div class="col-7">
                        <input class="form-control full-width" [(ngModel)]="editModel.serialization.IdentityProviders.Cognito.nickname" name="editModel.serialization.IdentityProviders.Cognito.nickname" type="text" />
                        <div *ngIf="editModel.validation.nickName.isvalid == false" class="form-control-feedback">{{editModel.validation.nickName.message}}</div>
                    </div>
                </div>
                <div class="form-group row" [class.has-danger]="editModel.validation.givenName.isvalid == false">
                    <label class="col-5 col-form-label affix ">Given Name</label>
                    <div class="col-7">
                        <input class="form-control full-width" [(ngModel)]="editModel.serialization.IdentityProviders.Cognito.given_name" name="editModel.serialization.IdentityProviders.Cognito.given_name" type="text" />
                        <div *ngIf="editModel.validation.givenName.isvalid == false" class="form-control-feedback">{{editModel.validation.givenName.message}}</div>
                    </div>
                </div>
                <div class="form-group row" [class.has-danger]="editModel.validation.familyName.isvalid == false">
                    <label class="col-5 col-form-label affix ">Family Name</label>
                    <div class="col-7">
                        <input class="form-control full-width" [(ngModel)]="editModel.serialization.IdentityProviders.Cognito.family_name" name="editModel.serialization.IdentityProviders.Cognito.family_name" type="text" />
                        <div *ngIf="editModel.validation.familyName.isvalid == false" class="form-control-feedback">{{editModel.validation.familyName.message}}</div>
                    </div>
                </div>
                <div class="form-group row" [class.has-danger]="editModel.validation.gender.isvalid == false">
                    <label class="col-5 col-form-label affix ">Gender</label>
                    <div class="col-7">
                        <div class="col-xs-1">
                            <div ngbDropdown>
                                {{editModel.serialization.IdentityProviders.Cognito.gender}}<i id="gender-dropdown" ngbDropdownToggle></i>
                                <div class="dropdown-menu" aria-labelledby="gender-dropdown">
                                    <button *ngFor="let gender of ['Male','Female','Both', 'None']" (click)="editModel.serialization.IdentityProviders.Cognito.gender = gender" type="button" class="dropdown-item"> {{gender}} </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="editModel.validation.gender.isvalid == false" class="form-control-feedback">{{editModel.validation.gender.message}}</div>
                    </div>
                </div>
                <div class="form-group row" [class.has-danger]="editModel.validation.email.isvalid == false">
                    <label class="col-5 col-form-label affix ">Email*</label>
                    <div class="col-7">
                        <input class="form-control full-width" [(ngModel)]="editModel.serialization.IdentityProviders.Cognito.email" name="editModel.serialization.IdentityProviders.Cognito.email" type="text" />
                        <div *ngIf="editModel.validation.email.isvalid == false" class="form-control-feedback">{{editModel.validation.email.message}}</div>
                    </div>
                </div>
                <div class="form-group row" [class.has-danger]="editModel.validation.locale.isvalid == false">
                    <label class="col-5 col-form-label affix ">Locale</label>
                    <div class="col-7">
                        <input class="form-control full-width" [(ngModel)]="editModel.serialization.IdentityProviders.Cognito.locale" name="editModel.serialization.IdentityProviders.Cognito.locale" type="text" />
                        <div *ngIf="editModel.validation.locale.isvalid == false" class="form-control-feedback">{{editModel.validation.locale.message}}</div>
                    </div>
                </div>
            </div>
        </form>
        <pre>{{editModel | json | devonly}}</pre>
    </div>
</modal>

<modal *ngIf="mode == modes.Ban" [title]="'Ban Player Account'" [metricIdentifier]="context.identifier" [autoOpen]="true" (modalSubmitted)="banAccount(currentPlayerAccount)" [hasSubmit]="true" [onDismiss]="dismissAddModal" [onClose]="dismissAddModal">
    <div class="modal-body">
        <p>
            Are you sure you want you want to ban player {{currentAccount.CognitoUsername}}?
        </p>
    </div>
</modal>

<modal *ngIf="mode == modes.RemoveBan" [title]="'Ban Player Account'" [metricIdentifier]="context.identifier" [autoOpen]="true" (modalSubmitted)="removeBan(currentPlayerAccount)" [hasSubmit]="true" [onDismiss]="dismissAddModal" [onClose]="dismissAddModal">
    <div class="modal-body">
        <p>
            Are you sure you want you want to remove the ban on player {{currentAccount.CognitoUsername}}?
        </p>
    </div>
</modal>
