<div class="cgp-content-container">
    <h1> Support </h1>
    <div class="row">
        <div class="col-8 no-padding">
            <div>
                <h2> What are Cloud Gems? </h2>
                <p class="text-justify">
                    In Lumberyard, a &quot;Gem&quot; is an individual package of code, scripts and assets that provides specific functionality.  A &quot;Cloud Gem&quot; is a Gem that uses AWS resources in your account to implement cloud-connected game features, such as daily messages, leaderboards, dynamic content, and more. <a href="http://docs.aws.amazon.com/console/lumberyard/cloudcanvas/portal" target="_blank">Learn more.</a>
                </p>
            </div>
            <div>
                <h2> What is this Portal? </h2>
                <p class="text-justify">
                    This is your Cloud Gem Portal, a serverless website that runs in your AWS account.  You can use it to configure your Cloud Gems and perform maintenance operations.  If you can get to this portal, you (or someone on your team) has set up one or more Cloud Gems for your Lumberyard project.  To add more Cloud Gems, you must set them up in the Lumberyard Project Configurator tool for your Lumberyard project. <a href="http://docs.aws.amazon.com/console/lumberyard/cloudcanvas/portal/cloudgems" target="_blank">Learn more.</a>
                </p>
                <p class="text-justify">
                    Source code for the Lumberyard Cloud Gems and the Cloud Gem Portal are included with Lumberyard, making it easy to customize your Cloud Gems and Cloud Gem Portal to fit your needs. <a href="http://docs.aws.amazon.com/console/lumberyard/cloudcanvas/portal/gamedevelopment" target="_blank">Learn more.</a>
                </p>
            </div>
            <div>
                <h2> Release Notes </h2>
                <p class="text-justify">
                    You can find all of the latest updates and improvements on our <a href="http://docs.aws.amazon.com/console/lumberyard/cloudcanvas/portal/releasenotes" target="_blank">release notes</a> page.
                </p>
            </div>
        </div>
        <div class="support-containers">
            <div class="support-container">
                <h2> Need help? </h2>
                Need help getting started or customizing your Cloud Gems?  There are multiple ways to learn more and get support for Cloud Gems and AWS:
                <button type="submit" (click)="window.open('http://docs.aws.amazon.com/console/lumberyard/cloudcanvas/introduction')" class="btn l-primary">
                    Browse documentation 
                    <i class="fa fa-external-link fa-lg" aria-hidden="true"></i>
                </button>
            </div>
            <div class="support-container">
                <h2> Have an idea for a Cloud Gem? </h2>
                Head over to our Amazon GameDev Forums and send us your suggestions for what you think would be a great Cloud Gem to support your game!
                <button type="submit" (click)="window.open('https://gamedev.amazon.com/forums/index.html')" class="btn l-primary">
                    Visit forums
                    <i class="fa fa-external-link fa-lg" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>