.add-motd-button {
    margin-bottom: 20px;
}

table.table tr .messages-column {
    width: 50%;
}

table.table tr .number-column {
    width: 10%;
    text-align: right;
}
    
table.table tr .date-column {
    width: 15%;
    text-align: right;
}

table.table {
	margin-bottom: 30px;
}

.messages-container {
	margin-bottom: 30px;
}
