<div *ngIf="dependencyservice.featureMap != null && (dependencyservice.featureMap | json) != ({} | json)">                         
    <div *ngFor="let feature of dependencyservice.featureMap | objKeys">
        
            <thumbnail *ngFor="let child of dependencyservice.featureMap[feature]" url="/game/{{child.route_path}}" icon="https://m.media-amazon.com/images/G/01/cloudcanvas/images/{{child.image}}">
                <div class="thumbnail-label-section row no-gutters">
                    <div> {{child.name}} </div>
                </div>
                <div class="expanded-section row no-gutters">
                    <div class="col-12">
                        {{child.description}}
                    </div>
                </div>
            </thumbnail>
        
    </div>
</div>