<h1> Analytics </h1>
<div class="row" *ngIf="dependencyservice.availableFeatures.Analytics !== null">
    <div *ngFor="let feature of dependencyservice.availableFeatures.Analytics">
        <thumbnail *ngIf="feature.location === 0" url="/game/{{feature.route_path}}" icon="https://m.media-amazon.com/images/G/01/cloudcanvas/images/{{feature.image}}">
            <div class="thumbnail-label-section row no-gutters">
                <div> {{feature.name}} </div>
            </div>
            <div class="expanded-section row no-gutters">
                <div class="col-12">
                    {{feature.description}}
                </div>
            </div>
        </thumbnail>
    </div>
</div>