.coming-soon-top-heading {
	margin: 40px 0;
	text-align: center;
	h1 {
		margin-bottom: 15px;
	}
}

.coming-soon-content {
	background: #F8F8F8;
    border: 1px solid #CCCCCC;
	text-align: center;
	margin-left: -45px;
	margin-right: -45px;
	border-left: 0;
	border-right: 0;
    .col-4 {
	    padding: 50px;
	    img {
	    	margin-bottom: 30px;	
	    }
	    h2 {
			margin-bottom: 20px;
	    }
	}
}