.date-time-picker-container {
    label {
        font-family: "AmazonEmber-Light";
    }
    input.datepicker{
        // padding-right: 12px;
        height: 32px;
        margin-right: 10px;
    }
}