<div class="date-time-picker-container"> 
    <label class="form-control-label">Start:</label>
    <div class="form-group form-inline row">
        <input class="form-control form-control-danger col-3 datepicker" placeholder="yyyy-mm-dd"
            name="dps" [(ngModel)]="model.dpStart" ngbDatepicker #ds="ngbDatepicker" (ngModelChange)="change()"
            [disabled]="model.isNoStart" (click)="ds.toggle()">
        <ngb-timepicker [(ngModel)]="model.stime" 
                        (ngModelChange)="change()" 
                        [meridian]="true" 
                        [disabled]="model.isNoStart" 
                        [spinners]="false"></ngb-timepicker>
        <div class="form-check" *ngIf="!model.isStartRequired">
            <span class="seperator"> or </span>
            <input id="isStart" type="checkbox" [(ngModel)]="model.isNoStart" name="isNoStart" (ngModelChange)="change()" />
            <label class="l-checkbox" for="isStart">
                No Start
            </label>
        </div>
    </div>
<label class="form-control-label">End:</label>
    <div class="form-group form-inline row">
        <input class="form-control form-control-danger col-3 datepicker" placeholder="yyyy-mm-dd"
            name="dpe" [(ngModel)]="model.dpEnd" ngbDatepicker #de="ngbDatepicker" (ngModelChange)="change()"
            [disabled]="model.isNoEnd" (click)="de.toggle()">
        <ngb-timepicker [(ngModel)]="model.etime" 
                        (ngModelChange)="change()" 
                        [meridian]="true" 
                        [disabled]="model.isNoEnd" 
                        [spinners]="false"></ngb-timepicker>
        <div class="form-check" *ngIf="!model.isEndRequired">
            <span class="seperator"> or </span>
            <input id="isEnd" type="checkbox" [(ngModel)]="model.isNoEnd" name="isNoEnd" (ngModelChange)="change()" />
            <label class="l-checkbox" for="isEnd">
                No End
            </label>
        </div>
    </div>    
</div>
<!-- <pre>{{model | json | devonly}}</pre> -->
