@import "../../../styles/variables";

.badge {
    font-family: "AmazonEmber-Light";
	font-size: 12px;
}

.badge:hover {
    cursor: pointer;
}

.badge-primary {
    background-color: $primary-color;
    color: $white;
}

.badge-info {
    background-color: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
}

.fa-times {
    color: $white;
}