<breadcrumbs></breadcrumbs>
<div *ngIf="!jiraIntegrationEnabled">
    Jira Integration is not enabled for the gem
</div>
<div *ngIf="jiraIntegrationEnabled">
    <div [ngSwitch]="isLoadingJiraCredentials">
        <div *ngSwitchCase="true">
            <loading-spinner></loading-spinner>
        </div>
        <div *ngSwitchCase="false">
            <div class="jira-credentials-container">
                <p>Jira credentials are required by certain Cloud Gems to operate or to enable features.</p>
                <h3 *ngIf="jiraCredentialsExist" class="stored-credentials">Stored credentials</h3>
                <div *ngFor="let property of currentCredentials | objKeys" class="form-group row" [class.has-danger]="!currentCredentials[property]['valid']">
                    <label class="col-2 col-form-label credential-property affix">{{getPropertyName(property)}}</label>
                    <div class="col-6">
                        <input *ngIf="!jiraCredentialsExist" [type]="property === 'password' ? 'password' : 'text'" class="form-control" [(ngModel)]="currentCredentials[property]['value']">
                        <input *ngIf="jiraCredentialsExist" disabled type="text" class="form-control" placeholder="********">
                        <div *ngIf="!currentCredentials[property]['valid']" class="form-control-feedback">{{currentCredentials[property]['message']}}</div>
                    </div>
                </div>
                <p *ngIf="jiraCredentialsExist">
                    For security purposes, you cannot view details or edit the stored credentials.<br />
                    To enter in new information you must first clear the existing credentials.
                </p>
                <button *ngIf="!jiraCredentialsExist" class="btn l-primary" (click)="updateJiraCredentials()">
                    Save
                </button>
                <button *ngIf="jiraCredentialsExist" class="btn l-primary" (click)="clearCredentials()">
                    Clear credentials
                </button>
            </div>
        </div>
    </div>
</div>
