<h2> Existing Heatmaps </h2>
<div *ngIf="!isLoadingHeatmaps; else loading">
    <table class="table table-hover">
        <thead>
            <tr>
                <th> NAME </th>
                <th> IMAGE </th>
                <th> EVENT </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let heatmap of heatmaps" >
                <td (click)="editHeatmap(heatmap)"> {{heatmap.id}} </td>
                <td (click)="editHeatmap(heatmap)"> {{heatmap.fileName}} </td>
                <td (click)="editHeatmap(heatmap)"> {{heatmap.event}} </td>
                <td> <div class="float-right"><action-stub-items [model]="heatmap" [edit]="editHeatmap" [delete]="deleteHeatmapModal"></action-stub-items> </div></td>
            </tr>
        </tbody>
    </table>
</div>

<modal
    title="Delete the heatamp"
    *ngIf="mode == 'Delete'"
    [autoOpen]="true"
    [hasSubmit]="true"
    (modalSubmitted)="deleteHeatmap(currentHeatmap)"
    [onClose]="dismissModal"
    [onDismiss]="dismissModal"
    submitButtonText="Delete">
    <div class="modal-body">
        <p> Are you sure you want to delete this heatmap? </p>
    </div>
</modal>
<ng-template #loading>
    <loading-spinner></loading-spinner>
</ng-template>