<facet-generator [context]="context"
        [tabs]="['Overview', 'Banned Players', 'Settings']"
        (tabClicked)="subNavUpdated($event)"
        [metricIdentifier]="context.identifier"></facet-generator>
<div *ngIf="subNavActiveIndex == 0">
    <div [ngSwitch]="mode == leaderboardModes.Show">
        <div *ngSwitchCase="false">
            <button (click)="addModal()" class="btn l-primary add-leaderboard-button">
                Add Leaderboard
            </button>
            </div>
        <div *ngSwitchCase="true">
            <button (click)="list()" class="btn l-primary add-leaderboard-button">
                < Back to All Leaderboards
            </button>
            <search class="float-right" 
            searchInputPlaceholder="Search Leaderboard" 
            (searchUpdated)="playerSearchUpdated($event)"> </search>
        </div>
        <div *ngIf="mode != leaderboardModes.Show" [ngSwitch]="isLoadingLeaderboards">
            <!-- display loading icon if the leaderboards are still being loaded -->
            <div *ngSwitchCase="true">
                <loading-spinner></loading-spinner>
            </div>
            <div *ngSwitchCase="false">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th > LEADERBOARD ID </th>
                            <th > MODE </th>
                            <th class="number-column"> MINIMUM ALLOWABLE VALUE </th>
                            <th class="number-column"> MAXIMUM ALLOWABLE VALUE </th>                                                        
                            <th class="number-column"> RESEVOIR SAMPLE SIZE </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leaderboard of leaderboards">
                            <td width="20%" (click)="show(leaderboard)">  {{leaderboard.name}} </td>
                            <td width="20%" (click)="show(leaderboard)">  {{leaderboard.mode}} </td>
                            <td width="15%" class="number-column" (click)="show(leaderboard)">  {{leaderboard.min}} </td>
                            <td width="15%" class="number-column" (click)="show(leaderboard)">  {{leaderboard.max}} </td>
                            <td width="15%" class="number-column" (click)="show(leaderboard)">  {{leaderboard.sample_size}} </td>
                            <td width="15%">
                                <div class="float-right">
                                    <i (click)="editModal(leaderboard)" class="fa fa-cog" data-toggle="tooltip" data-placement="top" title="Edit {{leaderboard.name}}"></i>
                                    <i (click)="deleteModal(leaderboard)" class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete {{leaderboard.name}}"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>  
                </table>
            </div>
        </div>
        <pre>{{leaderboard | json | devonly}}</pre>
    </div>
    <!-- Template for viewing individual leaderboard -->
    <div *ngIf="mode == leaderboardModes.Show" class="show-players-container">
        <div class="show-players-heading">
            <h2 class="current-leaderboard-title"> {{currentLeaderboard.name}} - <small class="text-muted">Processing of new entries could take up to 5 minutes before they appear here.</small></h2>

        </div>
        <div [ngSwitch]="isLoadingScores">
            <div *ngSwitchCase="true">
                <loading-spinner></loading-spinner>
            </div>
            <div *ngSwitchCase="false">
                <div *ngIf="currentScores?.length == 0 && !this.searchScoresControl.value" >
                    No scores for this leaderboard 
                </div>
                <div *ngIf="currentScores?.length == 0 && this.searchScoresControl.value?.length > 0" >
                    No scores for search: {{searchScoresControl.value}}
                </div>
                <table class="table" *ngIf="currentScores?.length > 0">
                    <thead>
                        <tr>
                            <th class="player-name-column"> PLAYER </th>
                            <th class="score-column"> SCORE </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let score of currentScores">
                            <td width="35%" class="player-name-column">  {{score.user}} </td>
                            <td width="25%" class="score-column">  {{score.value}} </td>
                            <td width="40%">
                                <div class="float-right">
                                    <i (click)="banPlayerModal(score)" class="fa fa-ban" data-toggle="tooltip" data-placement="top" title="Ban user '{{score.user}}'"></i>
                                    <i (click)="deleteScoreModal(score)" class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete score '{{score.value}}' for player '{{score.user}}'"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>  
                </table>
            </div>
        </div>
        <pagination [pages]="currentLeaderboard.numberOfPages"
                    (pageChanged)="show(currentLeaderboard, $event)">
        </pagination>
    
    </div>
</div>
<div *ngIf="subNavActiveIndex == 1"> 
    <div [ngSwitch]="isLoadingBannedPlayers">
        <div *ngSwitchCase="true">
            <loading-spinner></loading-spinner>
        </div>
        <div *ngSwitchCase="false">
            <p *ngIf="bannedPlayers?.length == 0">
                No banned players
            </p>
            <table class="table table-hover" *ngIf="bannedPlayers?.length > 0">
                <thead>
                    <tr>
                        <th > NAME </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let playerName of bannedPlayers">
                        <td width="70%" (click)="unbanPlayerModal(playerName)">  {{playerName}} </td>
                        <td width="30%">
                            <div class="float-right">
                                <i (click)="unbanPlayerModal(playerName)" class="fa fa-ban"
                                data-toggle="tooltip" data-placement="top" title="Remove Ban on {{playerName}}"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>  
            </table> 
        </div>
        <!--<pre>{{bannedPlayers | json | devonly}}</pre>-->
    </div>
</div>

<div *ngIf="subNavActiveIndex == 2">
    <div class="form-group row">
        <p class="col-3">Leaderboard queue processor</p>
        <div class="col-9">            
            <button type="button" class="btn l-primary" (click)="promptProcessLeaderboard()"> Process Now </button>
        </div>
    </div>
</div>

<!-- Modals -->
<!-- Edit leaderboard modal -->
<modal *ngIf="mode == leaderboardModes.Edit || mode == leaderboardModes.Add"
   [title]="mode == leaderboardModes.Edit ? 'Edit Leaderboard' : 'Add Leaderboard'"
   [autoOpen]="true"
   [hasSubmit]="true"
   [metricIdentifier]="context.identifier"
   [onClose]="dismissModal"
   [onDismiss]="dismissModal"
   [submitButtonText]="mode == leaderboardModes.Edit ? 'Save Changes' : 'Create Leaderboard'"
   (modalSubmitted)="mode == leaderboardModes.Edit ? editLeaderboard(currentLeaderboard) : addLeaderboard(currentLeaderboard)">
    <div class="modal-body">
        <form>
            <div class="form-group row" [class.has-danger]="currentLeaderboard.validation && currentLeaderboard.validation.id.valid == false">
                <label class="col-5 col-form-label affix ">Leaderboard Id</label>
                <div class="col-7 form-control-danger">                    
                    <input class="form-control full-width" [(ngModel)]="currentLeaderboard.name" name="currentLeaderboard.name" type="text" [disabled]="mode == leaderboardModes.Edit" />
                    <div *ngIf="currentLeaderboard.validation && currentLeaderboard.validation.id.valid == false" class="form-control-feedback">{{currentLeaderboard.validation.id.message}}</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label affix ">Mode</label>
                <div class="col-7 form-control-danger">                    
                    <div class="d-inline-block" ngbDropdown>
                        <button type="button" class="btn l-dropdown" id="priority-dropdown" ngbDropdownToggle>
                            <span>{{currentLeaderboard.mode }}</span>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="priority-dropdown">
                            <button *ngFor="let mode of aggregateModes" (click)="currentLeaderboard.mode = mode.display" type="button" class="dropdown-item"> {{mode.display}} </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" [class.has-danger]="currentLeaderboard.validation && currentLeaderboard.validation.min.valid == false">
                <label class="col-5 col-form-label affix ">Minimum Reportable Value Allowed</label>
                <div class="col-7 form-control-danger">
                    <input class="form-control full-width" [(ngModel)]="currentLeaderboard.min" name="currentLeaderboard.min" type="text" />
                    <div *ngIf="currentLeaderboard.validation && currentLeaderboard.validation.min.valid == false" class="form-control-feedback">{{currentLeaderboard.validation.min.message}}</div>
                </div>
            </div>
            <div class="form-group row" [class.has-danger]="currentLeaderboard.validation && currentLeaderboard.validation.max.valid == false" >
                <label class="col-5 col-form-label affix ">Maximum Reportable Value Allowed</label>
                <div class="col-7 form-control-danger">                                    
                    <input class="form-control full-width" [(ngModel)]="currentLeaderboard.max" name="currentLeaderboard.max" type="text" />
                    <div *ngIf="currentLeaderboard.validation && currentLeaderboard.validation.max.valid == false" class="form-control-feedback">{{currentLeaderboard.validation.max.message}}</div>
                </div>
            </div>    
            <div class="form-group row" [class.has-danger]="currentLeaderboard.validation && currentLeaderboard.validation.sample_size.valid == false">
                <label class="col-5 col-form-label affix ">Reservoir Sample Size <i class="fa fa-question-circle-o" placement="right"
                    ngbTooltip="The leaderboard sample resevoir size. The recommended range is between 200 to 1000. Example: 300"></i></label>
                <div class="col-7 form-control-danger">
                    <input class="form-control full-width" [(ngModel)]="currentLeaderboard.sample_size" name="currentLeaderboard.sample_size" type="text" />
                    <div *ngIf="currentLeaderboard.validation && currentLeaderboard.validation.sample_size.valid == false" class="form-control-feedback">{{currentLeaderboard.validation.sample_size.message}}</div>
                </div>
            </div>            
        </form>
        <!--<pre>{{currentLeaderboard | json | devonly}}</pre>-->
    </div>
</modal>

<!-- Delete leaderboard modal -->
<modal *ngIf="mode == leaderboardModes.Delete"
       title="Delete Leaderboard"
       [autoOpen]="true"
       [metricIdentifier]="context.identifier"
       [hasSubmit]="true"
       [onClose]="dismissModal"
       [onDismiss]="dismissModal"
       (modalSubmitted)="deleteLeaderboard(currentLeaderboard)"
       submitButtonText ="Delete Leaderboard">
    <div class="modal-body">
        <p> Are you sure you want to delete leaderboard: {{currentLeaderboard.name}}?</p>
        <p> All data in {{currentLeaderboard.name}} will be lost. </p>
        <!--<pre>{{currentLeaderboard | json | devonly}}</pre>-->
    </div>
</modal>

<!-- Player modals -->
<!-- Ban user modal -->
<modal *ngIf="playerMode == playerModes.BanUser"
       title="Ban User"
       [autoOpen]="true"
       [metricIdentifier]="context.identifier"
       [onClose]="dismissPlayerModal"
       [onDismiss]="dismissPlayerModal"
       [hasSubmit]="true"
       (modalSubmitted)="banPlayer(currentPlayer)"
       submitButtonText ="Ban Player">
    <div class="modal-body">
        <p> Are you sure you want to ban the player '{{currentScore.user}}'?</p>
        <p> '{{currentScore.user}}' will have their future scores rejected.  All their current scores will remain.  The scores can be deleted manually. </p>        
        <p> These changes will be reflected locally in the CGP for now and may take a few minutes to propagate to the server. </p>
        <!--<pre>{{currentScore | json | devonly}}</pre>-->
    </div>
</modal>

<!-- Delete score modal -->
<modal *ngIf="playerMode == playerModes.DeleteScore"
       title="Delete Score"
       [autoOpen]="true"
       [metricIdentifier]="context.identifier"
       submitButtonText="Delete Score"
       [onClose]="dismissPlayerModal"
       [onDismiss]="dismissPlayerModal"
       [hasSubmit]="true"
       (modalSubmitted)="deleteScore(currentScore)">
    <div class="modal-body">
        <p> Are you sure you want to delete the player '{{currentScore.user}}' with score '{{currentScore.value}}'? </p>
        <p> These changes will be reflected locally in the CGP for now and may take a few minutes to propagate to the server. </p>
        <!--<pre>{{currentScore | json | devonly}}</pre>-->
    </div>
</modal>

<!-- Un-ban user modal -->
<modal *ngIf="mode == leaderboardModes.Unban"
       title="Remove Ban"
       [autoOpen]="true"
       [metricIdentifier]="context.identifier"
       [hasSubmit]="true"
       [onClose]="dismissModal"
       [onDismiss]="dismissModal"
       (modalSubmitted)="unbanPlayer(currentPlayer)"
       submitButtonText="Remove Ban">
    <div class="modal-body">
        Are you sure you want to remove the ban on {{currentPlayer}}?  This will restore all their scores to existing leaderboards and allow their future scores to be posted.
        <p> These changes will be reflected locally in the CGP for now and may take a few minutes to propagate to the server. </p>
        <!--<pre>{{currentPlayer | json | devonly}}</pre>-->
    </div>
</modal>


<!-- Process leaderboard modal -->
<modal *ngIf="mode == leaderboardModes.ProcessQueue"
       title="Process Leaderboard Queue"
       [autoOpen]="true"
       [metricIdentifier]="context.identifier"
       (modalSubmitted)="processLeaderboardQueue()"
       submitButtonText="Process Queue"
       [hasSubmit]="true"
       [onClose]="dismissModal"
       [onDismiss]="dismissModal">
    <div class="modal-body">
        <p> Processing the leaderboard queue manually is a <b>development only</b> feature.</p>
        <p> This feature could lead to duplicate entries.  It is highly recommended that you do not to use this feature in an production environment.</p>
        <p> By default the leaderboard queue processor executes on a scheduled cycle.  The default is every 2 minutes.</p>
        <p> Are you sure you want to manually call the processor?</p>                
    </div>
</modal>
