.add-leaderboard-button {
    margin-bottom: 20px;
}

.score-column {
	text-align: right;
	width: 15%;
}

table.table tr .number-column {
    text-align: right;
}
    
table.table tr .date-column {
    width: 15%;
    text-align: right;
}

.controls:hover{
    cursor: pointer;
}