<div [id]="id" class="action-stub container" 
     (click)="onClick(model)"
     (mouseenter)="onHover(model)"
     (mouseleave)="onLeave(model)"          
     >
    <div class="row no-gutter no-gutters justify-content-start">
        <div class="col-1">            
            <div class="fa as-collapse"
                     [class.opacity-zero]="contentWrapper.children.length==0"
                     [class.fa-chevron-right]="!isExpanded"
                     [class.fa-chevron-down]="isExpanded"
                     (click)="onExpand(model)">
            </div>            
        </div>
        <div class="col-9">
            <div class="row no-gutters justify-content-start">                
                <div *ngIf="img" class="col-1"><img (click)="onImgTouch(model)" src="{{img}}" /></div>
                <div *ngIf="iconClassNames" class="col-1 {{iconClassNames}}"></div>
                <div class="primary-text-container col-sm"
                     [class.no-sub-text]="!subtext">
                    <p (click)="onTextTouch(model)">{{text}} </p>
                    <small *ngIf="subtext">{{subtext}}</small>
                </div>
                <div class="col- secondaryText" *ngIf="secondaryText"><div >{{secondaryText}}</div></div>
                <div class="col-1" *ngIf="statusClassNames" ><i class="{{statusClassNames}}"></i></div>                
            </div>
        </div>
        <div class="col-2">
            <div class="row justify-content-end" *ngIf="isHovering">
                <div class="col-6" *ngIf="custom">
                    <select class="custom-action" (change)="onChange($event.target.value, model)">
                        <option>More...</option>
                        <option *ngFor="let action of custom; let i = index" value="{{i}}">{{action.name}}</option>
                    </select>
                </div>
                <div class="col-2 action-stub-btn" *ngIf="delete"><i class="fa fa-trash" (click)="delete(model)" data-toggle="tooltip" data-placement="top" title="Delete"> </i></div>
                <div class="col-2 action-stub-btn" *ngIf="edit"><i class="fa fa-cog" (click)="edit(model)" data-toggle="tooltip" data-placement="top" title="Edit"> </i></div>
                <div class="col-2 action-stub-btn" *ngIf="add"><i class="fa fa-plus" (click)="add(model)" data-toggle="tooltip" data-placement="top" title="Add"> </i></div>                
            </div>
        </div>
    </div>
</div>
<div #contentWrapper 
     [class.hidden-xl-down]="!isExpanded"     
     >
    <ng-content></ng-content>
</div>

