@import "./styles/variables";

action-stub {    
    .action-stub {
        border-style: solid;
        border-color: $lighter-gray;
        border-width: 1px 1px 1px 1px;
        padding-top: 6px;
        min-height: 40px;
        .primary-text-container {            
            line-height: 15px;
            cursor: pointer;                       
            text-align: left;                               
            p {
                margin-bottom: 0;
                text-overflow: ellipsis;                
                overflow: hidden;            
            }
            img {
                margin: 0 10px;
            }
            small {
                font-size: 9px;
                color: #BBBBBB;
                text-overflow: ellipsis;                
                overflow: hidden;  
                display: block;          
            }
        }    
        > div{
            padding-right: 10px;
            margin-left: -10px;
        }    
    }

    div action-stub {       
        .action-stub {            
            border-width: 0px 1px 1px 1px;                               
            padding-left: 20px;
        }
        div action-stub {
            .action-stub {                                                     
                padding-left: 30px;
            }
            div action-stub {
                .action-stub {                                                                                    
                    padding-left: 40px;
                }
                div action-stub {
                    .action-stub {                        
                        padding-left: 50px;                       
                    }
                    div action-stub {
                        .action-stub {                                                                 
                            padding-left: 60px;
                        }
                         div action-stub {
                            .action-stub {                                                                     
                                padding-left: 70px;
                            }
                        }
                    }
                }
            }
        }
    }

    + action-stub > .action-stub {
        border-style: solid;
        border-color: $lighter-gray;
        border-width: 0px 1px 1px 1px;        
        min-height: 40px;
    }
}

.no-sub-text{
    padding-top: 6px;
}

.as-collapse{        
    cursor: pointer;    
    padding-top: 4px;    
}

.action-stub-btn {
    cursor: pointer;
}

.custom-action {
    float: right;
    margin-right: 10px;
    margin-top: -2px;
    width: 75px;
}

.opacity-zero {
   opacity: 0;
}
