@import "./styles/variables";

action-stub-basic {
    padding: 10px;
    border: 1px solid $primary-color;   
    .actions {
        position: absolute;
        right: 5px;
        top: 0;
        > * {
            display: inline-block;
        }
    }
    .fa.fa-question-circle-o{ 
        margin-left: 5px;
    }
}

action-stub-items {
    .actions {    
        right: 5px;
        top: 0;
        > * {
            display: inline-block;
        }
    }
    .fa.fa-question-circle-o{ 
        margin-left: 5px;
    }
}

.action-stub-btn {
    cursor: pointer;
}
