.container {  
  width: 100%;
}
.ex-moved {
  background-color : rgba(78, 0, 255, 0.05);  
  -webkit-transition : background-color 500ms ease-out;
  -moz-transition : background-color 500ms ease-out;
  -o-transition : background-color 500ms ease-out;
  transition : background-color 500ms ease-out;
}
.container.ex-over {
  background-color : rgba(78, 0, 255, 0.05); 
}
.container.ex-over > .action-stub{
  background-color : rgba(78, 0, 255, 0.05); 
}
