@import "./styles/variables";

.card.gem-thumbnail {
    cursor: pointer;
    width: 330px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: top;
    height: 220px;
    position: relative;
    background-color: $off-white;
    border: 1px solid $lighter-gray;

    .thumbnail-image { 
        height: 180px;
        width: 220px;
        margin: 0 auto;
        text-align: center;
    }
    .card-block {
        position: absolute;
        bottom: 0;
        background-color: black;
        opacity: 0.85;
        color: $white;
        width: 100%;
        padding: 0.5rem;

        * { 
            color: $white 
        }
    }
    .label-expanded {
        height: 0;
        overflow: hidden;
        transition: height .250s ease-out;
        overflow: hidden;
    }

    .expanded-section {
        * {
            font-size: 12px;
        }
    }

     &:hover .label-expanded {
        height: 20px;
        transition: height .250s ease-in;
    }
}