<!-- Header dynamically changes if you're looking at a gem or not-->
<div class="cgp-content-container">
    <div [class.visibility-hidden]="isTackableView">
        <div (click)="back()" (click)="$event.preventDefault()" class="gems-back">
            <a title="Gems" href="#"> Cloud Gems </a>
            <!-- <i class="fa fa-angle-right" aria-hidden="true"></i> -->
        </div>
    </div>
    <div class="row">
        <h1 class="col-8 gems-heading"> {{gemsHeading}} </h1>
        <div class="col-4">
            <i *ngIf="!isTackableView" (click)="forceRefresh = !forceRefresh" class="fa fa-refresh fa-2x refresh-icon"> </i>
        </div>
    </div>
    <!-- Show all the thumbnails of the gems -->
    <div>
        <div class="thumbnails-container gem-container" *ngIf="isTackableView">
            <div *ngIf="cloudGemService.isLoadingGems && !aws.context.authentication.isSessionExpired">
                <loading-spinner size="lg"></loading-spinner>
            </div>
            <div *ngIf="!cloudGemService.isLoadingGems && cloudGemService.dynamicGems.length == 0 && !aws.context.authentication.isSessionExpired">
                <p>There were no Cloud Gems found.   You can enable Cloud Gems through your Lumberyard Editor Project Configurator.  In the Lumberyard Editor, go to File -> Configure Project -> Gems.</p>
            </div>
            <div *ngIf="aws.context.authentication.isSessionExpired">
                <p>The Cloud Gem Portal session has expired.  The default session duration is one hour.  You will need to open the Cloud Gem Portal from Lumberyard.  In the <b>Lumberyard Editor, go to AWS -> Open Cloud Gem Portal.</b></p>
                <p>You can override the session length by going to your Lumberyard installation directory and executing the command 'lmbr_aws cloud-gem-framework cloud-gem-portal --duration-seconds 7200'.</p>

            </div>
            <div *ngIf="!aws.context.authentication.isSessionExpired">
                <p *ngIf="!cloudGemService.isLoadingGems">Enable Cloud Gems for your project through the Lumberyard Project Configurator. For more information, view the <a href="http://docs.aws.amazon.com/lumberyard/latest/developerguide/cloud-canvas-cloud-gems-intro.html">Cloud Gems documentation</a>.</p>
                <thumbnail-gem *ngFor="let gem of cloudGemService.dynamicGems" [title]="gem.tackable.displayName" [cost]="gem.tackable.cost" [srcIcon]="gem.tackable.iconSrc" [metric]="gem.tackable.metric" [state]="gem.tackable.state" (click)="load(gem)">
                </thumbnail-gem>
            </div>
        </div>
        <!-- Show the specific gem the user clicked on -->
        <gem-factory [gem]="currentGem" *ngIf="!isTackableView" [refreshContent]="forceRefresh"></gem-factory>
        <router-outlet></router-outlet>
        <pre>{{model | json | devonly}}</pre>
    </div>
</div>
