<thumbnail [icon]="srcIcon">
    <div class="thumbnail-label-section row no-gutters">
        <div class="col-8"> 
            <div> {{title}} </div>
        </div>
        <div class="col-4 gem-status thumbnail-{{state.styleType}}"> 
            <div class="circle"></div>
            <span> {{state.label}} </span>
        </div>
    </div>
    <div class="expanded-section row no-gutters">
        <div class="col-12 metrics-section">
            <span> {{metric.value}} </span>
            <span> {{metric.name}} </span>
        </div>
    </div>
</thumbnail>