@import "./styles/variables";

// .metrics-section * {
//     font-size: 12px;
// }

.gem-status {
    text-align: right;
    font-size: 12px;
    position: relative;
    > * {
        vertical-align: middle;
    }
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #54BE5D;
    display: inline-block;
}

.thumbnail-state span {
    font-family: AmazonEmber-Light;
}
.thumbnail-Offline>.circle {
    background-color: gray;
}
.thumbnail-Offline>span {
    color: gray;
}

.thumbnail-Loading>.circle {
 background-color: #4e89f1;
}
.thumbnail-Loading>.span {
    color: #4e89f1;
}

.thumbnail-Warning>.circle {
    background-color: red;
}
.thumbnail-Warning>.span {
    color: red;
}

.thumbnail-Enabled>.circle {
    background-color: #54BE5D;
}
.thumbnail-Enabled>.span {
    color: #54BE5D;
}
