@import "../../../../../../styles/variables";

.gems-heading-back-row > .col > * {
    color: $primary-color;
    font-size:11px;
}

.gems-heading {
    font-size: 24px;
    padding-left: 0;
}
.gems-back {
    font-size: 14px;
    color: $primary-color;
    a {
        cursor: pointer;
    }
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:10px;
    height:10px;
    background: $primary-color;
    border-radius:50%;
    transition:.1s;
}

#map { height: 450px; }