@import "./styles/variables";

.card.gem-thumbnail {
    cursor: pointer;
    width: 330px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: top;
    height: 220px;
    position: relative;
    background-color: $off-white;
    border: 1px solid $lighter-gray;

    .thumbnail-image { 
        height: 180px;
        width: 220px;
        margin: 0 auto;
        text-align: center;
    }
    .card-block {
        position: absolute;
        bottom: 0;
        background-color: black;
        opacity: 0.85;
        color: $white;
        width: 100%;
        padding: 0.5rem;

        * { 
            color: $white 
        }

        .gem-status {
            text-align: right;
            font-size: 12px;
            position: relative;
            > * {
                vertical-align: middle;
            }
        }
    }
    .expanded {
        max-height: 0;
        overflow: hidden;
        transition: max-height .350s ease-out;
        overflow: hidden;

        * {
            font-size: 12px;
        }
        .thumbnail-cost {
            float: right;
        }
    }

     &:hover .expanded {
        max-height: 50px;
        transition: max-height .350s ease-in;
    }
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #54BE5D;
    display: inline-block;
}

.thumbnail-state span {
    font-family: AmazonEmber-Light;
}
.thumbnail-Offline>.circle {
    background-color: gray;
}
.thumbnail-Offline>span {
    color: gray;
}

.thumbnail-Loading>.circle {
 background-color: #4e89f1;
}
.thumbnail-Loading>.span {
    color: #4e89f1;
}

.thumbnail-Warning>.circle {
    background-color: red;
}
.thumbnail-Warning>.span {
    color: red;
}

.thumbnail-Enabled>.circle {
    background-color: #54BE5D;
}
.thumbnail-Enabled>.span {
    color: #54BE5D;
}
