<div class="card gem-thumbnail">
    <div class="thumbnail-image">
        <img [src]="srcIcon" />
    </div>
    <div class="card-block">
        <div class="row no-gutters">
            <div class="col-8"> 
                <div> {{title}} </div>
            </div>
            <div class="col-4 gem-status thumbnail-{{state.styleType}}"> 
                <div class="circle"></div>
                <span> {{state.label}} </span>
            </div>
        </div>
        <div class="expanded row no-gutters">
            <div class="col-12">
                <span> {{metric.value}} </span>
                <span> {{metric.name}} </span>
            </div>
        </div>
    </div>

</div>