@import "./styles/variables";

.vertical-input-margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-dotted{
    border-style: dashed;
    border-color: $lighter-gray;
}

.response-area{
    background-color: $off-white;
    margin: 15px;
    padding: 15px;
    max-height: 400px;
    overflow: auto;
}

textarea{
    padding-left: 8px !important;
}

.rest-container {
    margin-left: 0;
    label {
        margin-top: 5px;
    }
    .d-inline-block {
        margin-left: 15px;
        position: relative;
    }

    .row.rest-prop {
        span {            
            margin-right: 15px;
            display: flex;
            align-items: center;
        }
        input {
            max-width: 600px;
        }
    }
    .show-swagger button {
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .query-param > label:not(:first-child) {
        display: none;
    }
    .rest-multiplier {
        > input {
            margin: 0 15px;
        }
        > span {
            margin-top: 5px;
            margin-left: 15px;
        }
    }
}

